/****************************************
//   MOBILE
****************************************/
@media all and (max-width: 719px) {
  #block-search-form {
    display: none;
  }
}
/****************************************
//   TABLET + DESKTOP
****************************************/
@media all and (min-width: 720px) {
  #block-search-form {
    display: block;
  }
}
