
.nice-menu ul { left:-15px;  }
.nice-menu ul ul { left:25px;  }

.nice-menu li {
    display: inline-block;
    background-color: #336a90;
}
.nice-menu li a {
	padding-left: 10px !important;
    padding-right: 10px !important;
    font-family: 'Open Sans', Arial,"Helvetica Neue", Helvetica,sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    display: block;
    line-height: 1.02rem;
    height: 1.02rem;
    padding: 0.74rem 0;
    padding-top: 0.74rem;
    padding-right: 0px;
    padding-bottom: 0.74rem;
    padding-left: 0px;
    color: white;
    text-decoration: none;
    text-align:left;
    float: none;
    min-width: 0;
    max-width: 1000px;
    margin: 0;
    letter-spacing: 1px;
    border: 0;
}
 .nice-menu li:hover {
    background-color: #154360;
}
 .menu-21224, .menu-21227,.menu-21228, .menu-21230 {
 height:85px;
 }
 .menu-21225, .menu-21226, .menu-21229 {
 height:55px;
 }
 