.sls-form select {
  height: auto !important;
}

.sls-fields-wrapper label {
  font-weight: bold;
  padding-bottom: 5px;
}

.sls-button {
  margin-right: 20px;
}

.sls-no-results {
  text-align: center;
  font-size: 2em !important;
}