@mixin sidebar-subheading {
  padding: .5em 0 0 0;
  margin: 0 0 1em 0;
  font-size: 1em;
  font-weight: bold;
  border-top: 1px solid #a12854;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #264a64;
}

@mixin searchform-sizing($height: 2rem, $width: 50rem) {

  $searchform--height: $height;
  $searchform--borderwidth: $searchform--height * .025;
  $searchform--width: $width + ($searchform--borderwidth * 2);
  $searchform--submit-ratio: 36/27;
  $searchform--font-size: $searchform--height * .5;
  $searchform--padding: $searchform--height * .25;
  $search-item--height: $searchform--height - ($searchform--borderwidth * 2);
  $searchform--submit-width: $search-item--height * $searchform--submit-ratio;
  $searchform--text--width: $searchform--width - $searchform--submit-width;

  height: $height !important;
  width: $width !important;

  input.custom-search-box[type="text"],
  input[type="submit"].form-submit,
  input[type="button"].form-submit {
    padding: 0 !important;
    margin: 0 !important;
    font-size: $searchform--font-size;
    line-height: $search-item--height !important;
  }

  input.custom-search-box[type="text"] {
    height: $search-item--height !important;
    width: $searchform--text--width !important;
    padding-left: $searchform--padding !important;
    border-radius: 5px 0 0 5px !important;
    border-width: $searchform--borderwidth 0 $searchform--borderwidth $searchform--borderwidth !important;
  }

  input[type="submit"].form-submit,
  input[type="button"].form-submit {
    height: $search-item--height !important;
    width: ($searchform--submit-width) !important;
    border-width: $searchform--borderwidth $searchform--borderwidth $searchform--borderwidth 0 !important;
    border-radius: 0 5px 5px 0 !important;
  }

}