/*
ul#main-menu {
  background-color: red;
  display: flex;
  > li {
    background-color: pink;
    display: block;
    flex: 0;
    margin: 0;
    padding: 0;
    height: 38px;
    zoom: 1;
    list-style: none;
    list-style-type: none;
    line-height: 1;
    justify-content: space-between;
    a {
      background-color: orange;
      white-space: nowrap;
      display: block;
      min-width: 0;
      max-width: 1000px;
      line-height: 38px;
      white-space: nowrap;
      padding: 0 10px;
      margin: 0;
      float: none;
      height: auto;
      color: #fff;
      text-align: center;
      text-decoration: none;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 15px;
    }
  }
}
*/
@media (min-width: 740px) {
  div#zone-menu-wrapper,
  div#zone-menu,
  div.region-menu-inner,
  div#region-menu,
  nav#menu {
    height: 2.5rem !important;
  }
}

.zone-menu-wrapper {
  padding: 0;
  border-bottom: 3px solid #FFF;
  background-color: #336a90;
}

ul#main-menu {
  padding: 0;
  margin: 0px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 2.5rem !important;
}

ul#main-menu.center {
  -ms-flex-pack: center;
      justify-content: center;
}

ul#main-menu.space-between {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

ul#main-menu.space-evenly {
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}

ul#main-menu li {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  height: 2.5rem !important;
}

ul#main-menu li:first-child {
  margin-left: 0;
}

ul#main-menu li:last-child {
  margin-right: 0;
}

ul#main-menu li a {
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  font-size: 0.85rem;
  line-height: 1.02rem;
  height: 1.02rem;
  padding: 0.74rem 0;
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  float: none;
  min-width: 0;
  max-width: 1000px;
  margin: 0;
  letter-spacing: 1px;
  font-weight: bold;
  border: 0;
}

@media (min-width: 0px) and (max-width: 739px) {
  ul#main-menu li a {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 740px) and (max-width: 979px) {
  ul#main-menu li a {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 980px) {
  ul#main-menu li a {
    padding-left: 16px;
    padding-right: 16px;
  }
}

ul#main-menu li a.active, ul#main-menu li a.active-trail, ul#main-menu li a:hover {
  background: none;
  background-color: #254963;
  color: #FFF !important;
}

/*# sourceMappingURL=global-overrides.css.map */
