/**
 * Partial for adding standard breakpoint variables
 */
body .page-node h2.title,
body .home-latest-post h2,
body .resources h2,
body .home-aside h2,
body .subpage-aside h2,
body .subfeature-media h2,
body .subfeature-media-aside h2,
body .context-start-a-youth-program h2.label-above,
body .media-series .view-videos h3 {
  padding: .5em 0 0 0;
  margin: 0 0 1em 0;
  font-size: 1em;
  font-weight: bold;
  border-top: 1px solid #a12854;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #264a64;
}

@media (min-width: 740px) {
  div#zone-menu-wrapper,
  div#zone-menu,
  div.region-menu-inner,
  div#region-menu,
  nav#menu {
    height: 2.5rem !important;
  }
}

.zone-menu-wrapper {
  padding: 0;
  border-bottom: 3px solid #FFF;
  background-color: #336a90;
}

ul#main-menu {
  padding: 0;
  margin: 0px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 2.5rem !important;
}

ul#main-menu.center {
  -ms-flex-pack: center;
      justify-content: center;
}

ul#main-menu.space-between {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

ul#main-menu.space-evenly {
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}

ul#main-menu li {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  height: 2.5rem !important;
}

ul#main-menu li:first-child {
  margin-left: 0;
}

ul#main-menu li:last-child {
  margin-right: 0;
}

ul#main-menu li a {
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  font-size: 0.85rem;
  line-height: 1.02rem;
  height: 1.02rem;
  padding: 0.74rem 0;
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  float: none;
  min-width: 0;
  max-width: 1000px;
  margin: 0;
  letter-spacing: 1px;
  font-weight: bold;
  border: 0;
}

@media (min-width: 0px) and (max-width: 739px) {
  ul#main-menu li a {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 740px) and (max-width: 979px) {
  ul#main-menu li a {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 980px) {
  ul#main-menu li a {
    padding-left: 16px;
    padding-right: 16px;
  }
}

ul#main-menu li a.active, ul#main-menu li a.active-trail, ul#main-menu li a:hover {
  background: none;
  background-color: #254963;
  color: #FFF !important;
}

header#section-header {
  display: block;
}

header#section-header div#zone-branding-wrapper {
  display: block;
}

header#section-header div#zone-branding-wrapper * {
  box-sizing: border-box;
}

header#section-header div#zone-branding-wrapper .zone {
  width: auto;
  max-width: none;
  margin: 0;
  padding: 0;
  float: none;
  box-sizing: border-box;
  display: block;
}

header#section-header div#zone-branding-wrapper .zone .region {
  width: auto;
  max-width: none;
  margin: 0;
  padding: 0;
  float: none;
  box-sizing: border-box;
  display: block;
}

header#section-header div#zone-branding-wrapper div#zone-branding {
  margin: 0 auto;
  position: relative;
}

@media (min-width: 800px) {
  header#section-header div#zone-branding-wrapper div#zone-branding {
    max-width: 730px;
  }
}

@media (min-width: 980px) {
  header#section-header div#zone-branding-wrapper div#zone-branding {
    max-width: 980px;
  }
}

@media (min-width: 0px) and (max-width: 799px) {
  header#section-header div#zone-branding-wrapper div#zone-branding div#region-branding .logo-img {
    display: block;
    width: 100%;
  }
  header#section-header div#zone-branding-wrapper div#zone-branding div#region-branding .logo-img img {
    display: block;
    width: 90vw;
    max-width: 682px;
    height: auto;
    margin: 0 auto;
  }
}

header#section-header div#zone-branding-wrapper div#zone-branding div#region-search-bar {
  display: none;
}

@media (min-width: 320px) {
  header#section-header div#zone-branding-wrapper div#zone-branding div#region-search-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    padding-bottom: 1rem;
  }
}

@media (min-width: 800px) {
  header#section-header div#zone-branding-wrapper div#zone-branding div#region-search-bar {
    display: block;
    position: absolute;
    top: 24px;
    right: 0;
  }
}

header#section-header div#zone-branding-wrapper div#zone-branding div#region-social-media {
  position: absolute;
  top: 3vw;
  right: 5.5vw;
}

@media (min-width: 800px) {
  header#section-header div#zone-branding-wrapper div#zone-branding div#region-social-media {
    top: 24px;
    right: 225px;
  }
}

@media (min-width: 980px) {
  header#section-header div#zone-branding-wrapper div#zone-branding div#region-social-media {
    top: 77px;
    right: 0;
  }
}

header#section-header:after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
  width: 100%;
}

#block-search-form {
  width: auto;
  max-width: none;
  margin: 0;
  padding: 0;
  float: none;
  box-sizing: border-box;
}

#block-search-form #search-block-form {
  margin: 0;
}

.block-menu-social-media {
  background: none;
}

.block-menu-social-media ul.menu {
  list-style-type: none;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 0;
}

.block-menu-social-media ul.menu li {
  list-style-type: none;
  -ms-flex: 1;
      flex: 1;
  width: 4vw;
  height: 4vw;
  padding: 0;
  margin: 0 0 0 5px;
}

@media (min-width: 800px) {
  .block-menu-social-media ul.menu li {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.block-menu-social-media ul.menu li a {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.block-menu-social-media ul.menu li a.menu-link--facebook {
  background-image: url("../images/icon_fb32_264a64.png");
}

.block-menu-social-media ul.menu li a.menu-link--twitter {
  background-image: url("../images/icon_Twitter23_264a64.png");
}

form#search-block-form {
  display: none !important;
  overflow: hidden;
}

@media (min-width: 320px) {
  form#search-block-form {
    height: 2.5rem !important;
    width: 18rem !important;
    display: block !important;
  }
  form#search-block-form input.custom-search-box[type="text"],
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1.25rem;
    line-height: 2.375rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"] {
    height: 2.375rem !important;
    width: 14.95833rem !important;
    padding-left: 0.625rem !important;
    border-radius: 5px 0 0 5px !important;
    border-width: 0.0625rem 0 0.0625rem 0.0625rem !important;
  }
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    height: 2.375rem !important;
    width: 3.16667rem !important;
    border-width: 0.0625rem 0.0625rem 0.0625rem 0 !important;
    border-radius: 0 5px 5px 0 !important;
  }
}

@media (min-width: 720px) {
  form#search-block-form {
    height: 3rem !important;
    width: 40rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"],
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1.5rem;
    line-height: 2.85rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"] {
    height: 2.85rem !important;
    width: 36.35rem !important;
    padding-left: 0.75rem !important;
    border-radius: 5px 0 0 5px !important;
    border-width: 0.075rem 0 0.075rem 0.075rem !important;
  }
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    height: 2.85rem !important;
    width: 3.8rem !important;
    border-width: 0.075rem 0.075rem 0.075rem 0 !important;
    border-radius: 0 5px 5px 0 !important;
  }
}

@media (min-width: 800px) {
  form#search-block-form {
    height: 1.75rem !important;
    width: 13rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"],
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 0.875rem;
    line-height: 1.6625rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"] {
    height: 1.6625rem !important;
    width: 10.87083rem !important;
    padding-left: 0.4375rem !important;
    border-radius: 5px 0 0 5px !important;
    border-width: 0.04375rem 0 0.04375rem 0.04375rem !important;
  }
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    height: 1.6625rem !important;
    width: 2.21667rem !important;
    border-width: 0.04375rem 0.04375rem 0.04375rem 0 !important;
    border-radius: 0 5px 5px 0 !important;
  }
}

@media (min-width: 980px) {
  form#search-block-form {
    height: 2.125rem !important;
    width: 22rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"],
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1.0625rem;
    line-height: 2.01875rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"] {
    height: 2.01875rem !important;
    width: 19.41458rem !important;
    padding-left: 0.53125rem !important;
    border-radius: 5px 0 0 5px !important;
    border-width: 0.05313rem 0 0.05313rem 0.05313rem !important;
  }
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    height: 2.01875rem !important;
    width: 2.69167rem !important;
    border-width: 0.05313rem 0.05313rem 0.05313rem 0 !important;
    border-radius: 0 5px 5px 0 !important;
  }
}

form#search-block-form input.custom-search-box[type="text"],
form#search-block-form input[type="submit"].form-submit,
form#search-block-form input[type="button"].form-submit {
  display: block !important;
  float: none !important;
  margin: 0 !important;
  box-shadow: none !important;
  border-style: solid !important;
  border-color: #d0c3ac !important;
}

form#search-block-form input.custom-search-box[type="text"] {
  position: absolute !important;
  top: 0;
  left: 0;
}

form#search-block-form input[type="submit"].form-submit,
form#search-block-form input[type="button"].form-submit {
  position: absolute !important;
  top: 0;
  right: 0;
}

form#search-block-form input[type="submit"].form-submit,
form#search-block-form input[type="button"].form-submit {
  background-color: white;
  background-image: url(../images/magnifier.png) !important;
  background-position: top right !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  text-indent: -9999999px !important;
}

form#search-block-form input[type="submit"].form-submit:hover,
form#search-block-form input[type="button"].form-submit:hover {
  background-image: url(../images/magnifier-hover.png) !important;
}

div.ctct-inline-form * {
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

div.ctct-inline-form div.ctct-form-embed .ctct-form-text {
  font-size: 14px !important;
  color: black !important;
}

div.ctct-inline-form div.ctct-form-embed form.ctct-form-custom label.ctct-form-label {
  font-size: 14px;
  padding-bottom: 0;
  margin-bottom: .5rem;
}

div.ctct-inline-form div.ctct-form-embed form.ctct-form-custom input.ctct-form-element {
  padding: 0 7px;
  line-height: 1;
  font-size: 14px;
  height: 30px;
}

div.ctct-inline-form div.ctct-form-embed form.ctct-form-custom legend,
div.ctct-inline-form div.ctct-form-embed form.ctct-form-custom label {
  font-size: 14px !important;
  color: black !important;
}

div.ctct-inline-form div.ctct-form-embed div.ctct-form-defaults {
  padding: 0;
  margin: 0;
}

div.ctct-inline-form div.ctct-form-embed div.ctct-form-defaults h2.ctct-form-header {
  padding: .5em 0 0 0;
  margin: 0 0 1em 0;
  font-size: 1em;
  font-weight: bold;
  border-top: 1px solid #a12854;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #264a64;
}

div.ctct-inline-form div.ctct-form-embed div.ctct-form-defaults .ctct-form-required {
  display: inline-block;
}

div.ctct-inline-form div.ctct-form-embed div.ctct-form-defaults .ctct-form-required:before {
  content: "";
}

div.ctct-inline-form div.ctct-form-embed div.ctct-form-defaults .ctct-form-required:after {
  content: "\2217";
  position: absolute;
  top: -6px;
  right: -10px;
  color: #f5463b;
}

/*# sourceMappingURL=styles.css.map */
