form#search-block-form {

  display: none !important;

  @include breakpoint($xs-up) {
    @include searchform-sizing($height: 2.5rem, $width: 18rem);
    display: block !important;
  }

  @include breakpoint($sm-up) {
    @include searchform-sizing($height: 3rem, $width: 40rem);
  }

  @include breakpoint($md-up) {
    @include searchform-sizing($height: $social-icon--height, $width: 13rem);
  }

  @include breakpoint($lg-up) {
    @include searchform-sizing($height: 2.125rem, $width: 22rem);
  }

  // background-color: orange;
  // border: 1px solid blue;

  overflow: hidden;

  input.custom-search-box[type="text"],
  input[type="submit"].form-submit,
  input[type="button"].form-submit {
    display: block !important;
    float: none !important;
    margin: 0 !important;
    box-shadow: none !important;
    border-style: solid !important;
    border-color: #d0c3ac !important;
  }

  input.custom-search-box[type="text"] {
    position: absolute !important;
    top: 0;
    left: 0;
  }

  input[type="submit"].form-submit,
  input[type="button"].form-submit {
    position: absolute !important;
    top: 0;
    right: 0;
  }

  // Background image for submit button.
  input[type="submit"].form-submit,
  input[type="button"].form-submit {
    background-color: white;
    background-image: url(../images/magnifier.png) !important;
    background-position: top right !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    text-indent: -9999999px !important;
    &:hover {
      background-image: url(../images/magnifier-hover.png) !important;
    }
  }

}