@mixin layout-reset {
  width: auto;
  max-width: none;
  margin: 0;
  padding: 0;
  float: none;
  box-sizing: border-box;
}

header#section-header {

  display: block;

  div#zone-branding-wrapper {

    display: block;

    * {
      box-sizing: border-box;
    }

    .zone {
      @include layout-reset;
      display: block;
      .region {
        @include layout-reset;
        display: block;
      }
    }

    div#zone-branding {

      @include breakpoint($md-up) {
        max-width: $md - (35px * 2);
      }
      @include breakpoint($lg-up) {
        max-width: $lg;
      }

      margin: 0 auto ;
      position: relative;

      div#region-branding {
        @include breakpoint($sm-down) {
          .logo-img {
            display: block;
            width: 100%;
            img {
              display: block;
              width: 90vw;
              max-width: 682px;
              height: auto;
              margin: 0 auto;
            }
          }
        }
      }

      div#region-search-bar {
        display: none;
        @include breakpoint($xs-up) {
          display: flex;
          justify-content:center;
          padding-bottom: 1rem;
        }
        @include breakpoint($md-up) {
          display: block;
          position: absolute;
          top: 24px;
          right: 0;
        }
      }

      div#region-social-media {
        position: absolute;
        top: 3vw;
        right: 5.5vw;
        @include breakpoint($md-up) {
          top: 24px;
          right: 225px;
        }
        @include breakpoint($lg-up) {
          top: 77px;
          right: 0;
        }
      }

      div#region-chat-block {
      }
    }
  }

  &:after {
    content: " ";
    clear: both;
    display: block;
    height: 0;
    width: 100%;
  }
}

#block-search-form {
  @include layout-reset;
  #search-block-form {
    margin: 0;
  }
}
