/* #### Philip's font choices #### */
@import url('https://fonts.googleapis.com/css?family=Archivo|Roboto&display=swap');

/**
 * Partial for adding standard breakpoint variables
 */
body .page-node h2.title,
body .home-latest-post h2,
body .resources h2,
body .home-aside h2,
body .subpage-aside h2,
body .subfeature-media h2,
body .subfeature-media-aside h2,
body .context-start-a-youth-program h2.label-above,
body .media-series .view-videos h3 {
  padding: .5em 0 0 0;
  margin: 0 0 1em 0;
  font-size: 1em;
  font-weight: bold;
  border-top: 1px solid #a12854;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #264a64;
}

@media (min-width: 740px) {
  div#zone-menu-wrapper,
  div#zone-menu,
  div.region-menu-inner,
  div#region-menu,
  nav#menu {
    height: 2.5rem !important;
  }
}

.zone-menu-wrapper {
  padding: 0;
  border-bottom: 3px solid #FFF;
  background-color: #336a90;
}

ul#main-menu {
  padding: 0;
  margin: 0px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 2.5rem !important;
}

ul#main-menu.center {
  -ms-flex-pack: center;
      justify-content: center;
}

ul#main-menu.space-between {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

ul#main-menu.space-evenly {
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}

ul#main-menu li {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  height: 2.5rem !important;
}

ul#main-menu li:first-child {
  margin-left: 0;
}

ul#main-menu li:last-child {
  margin-right: 0;
}

ul#main-menu li a {
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  font-size: 0.85rem;
  line-height: 1.02rem;
  height: 1.02rem;
  padding: 0.74rem 0;
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  float: none;
  min-width: 0;
  max-width: 1000px;
  margin: 0;
  letter-spacing: 1px;
  font-weight: bold;
  border: 0;
}

@media (min-width: 0px) and (max-width: 739px) {
  ul#main-menu li a {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 740px) and (max-width: 979px) {
  ul#main-menu li a {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 980px) {
  ul#main-menu li a {
    padding-left: 16px;
    padding-right: 16px;
  }
}

ul#main-menu li a.active, ul#main-menu li a.active-trail, ul#main-menu li a:hover {
  background: none;
  background-color: #254963;
  color: #FFF !important;
}

header#section-header {
  display: block;
}

header#section-header div#zone-branding-wrapper {
  display: block;
}

header#section-header div#zone-branding-wrapper * {
  box-sizing: border-box;
}

header#section-header div#zone-branding-wrapper .zone {
  width: auto;
  max-width: none;
  margin: 0;
  padding: 0;
  float: none;
  box-sizing: border-box;
  display: block;
}

header#section-header div#zone-branding-wrapper .zone .region {
  width: auto;
  max-width: none;
  margin: 0;
  padding: 0;
  float: none;
  box-sizing: border-box;
  display: block;
}

header#section-header div#zone-branding-wrapper div#zone-branding {
  margin: 0 auto;
  position: relative;
}

@media (min-width: 800px) {
  header#section-header div#zone-branding-wrapper div#zone-branding {
    max-width: 730px;
  }
}

@media (min-width: 980px) {
  header#section-header div#zone-branding-wrapper div#zone-branding {
    max-width: 980px;
  }
}

@media (min-width: 0px) and (max-width: 799px) {
  header#section-header div#zone-branding-wrapper div#zone-branding div#region-branding .logo-img {
    display: block;
    width: 100%;
  }
  header#section-header div#zone-branding-wrapper div#zone-branding div#region-branding .logo-img img {
    display: block;
    width: 90vw;
    max-width: 682px;
    height: auto;
    margin: 0 auto;
  }
}

header#section-header div#zone-branding-wrapper div#zone-branding div#region-search-bar {
  display: none;
}

@media (min-width: 320px) {
  header#section-header div#zone-branding-wrapper div#zone-branding div#region-search-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    padding-bottom: 1rem;
  }
}

@media (min-width: 800px) {
  header#section-header div#zone-branding-wrapper div#zone-branding div#region-search-bar {
    display: block;
    position: absolute;
    top: 24px;
    right: 0;
  }
}

header#section-header div#zone-branding-wrapper div#zone-branding div#region-social-media {
  position: absolute;
  top: 3vw;
  right: 5.5vw;
}

@media (min-width: 800px) {
  header#section-header div#zone-branding-wrapper div#zone-branding div#region-social-media {
    top: 24px;
    right: 225px;
  }
}

@media (min-width: 980px) {
  header#section-header div#zone-branding-wrapper div#zone-branding div#region-social-media {
    top: 77px;
    right: 0;
  }
}

header#section-header:after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
  width: 100%;
}

#block-search-form {
  width: auto;
  max-width: none;
  margin: 0;
  padding: 0;
  float: none;
  box-sizing: border-box;
}

#block-search-form #search-block-form {
  margin: 0;
}

.block-menu-social-media {
  background: none;
}

.block-menu-social-media ul.menu {
  list-style-type: none;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 0;
}

.block-menu-social-media ul.menu li {
  list-style-type: none;
  -ms-flex: 1;
      flex: 1;
  width: 4vw;
  height: 4vw;
  padding: 0;
  margin: 0 0 0 5px;
}

@media (min-width: 800px) {
  .block-menu-social-media ul.menu li {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.block-menu-social-media ul.menu li a {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.block-menu-social-media ul.menu li a.menu-link--facebook {
  background-image: url("../images/icon_fb32_264a64.png");
}

.block-menu-social-media ul.menu li a.menu-link--twitter {
  background-image: url("../images/icon_Twitter23_264a64.png");
}

form#search-block-form {
  display: none !important;
  overflow: hidden;
}

@media (min-width: 320px) {
  form#search-block-form {
    height: 2.5rem !important;
    width: 18rem !important;
    display: block !important;
  }
  form#search-block-form input.custom-search-box[type="text"],
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1.25rem;
    line-height: 2.375rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"] {
    height: 2.375rem !important;
    width: 14.95833rem !important;
    padding-left: 0.625rem !important;
    border-radius: 5px 0 0 5px !important;
    border-width: 0.0625rem 0 0.0625rem 0.0625rem !important;
  }
/*  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    height: 2.375rem !important;
    width: 3.16667rem !important;
    border-width: 0.0625rem 0.0625rem 0.0625rem 0 !important;
    border-radius: 0 5px 5px 0 !important;
  }*/
}

@media (min-width: 720px) {
  form#search-block-form {
    height: 3rem !important;
    width: 40rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"],
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1.5rem;
    line-height: 2.85rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"] {
    height: 2.85rem !important;
    width: 36.35rem !important;
    padding-left: 0.75rem !important;
    border-radius: 5px 0 0 5px !important;
    border-width: 0.075rem 0 0.075rem 0.075rem !important;
  }
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    height: 2.85rem !important;
    width: 3.8rem !important;
    border-width: 0.075rem 0.075rem 0.075rem 0 !important;
    border-radius: 0 5px 5px 0 !important;
  }
}

@media (min-width: 800px) {
  form#search-block-form {
    height: 1.75rem !important;
    width: 13rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"],
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 0.875rem;
    line-height: 1.6625rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"] {
    height: 1.6625rem !important;
    width: 10.87083rem !important;
    padding-left: 0.4375rem !important;
    border-radius: 5px 0 0 5px !important;
    border-width: 0.04375rem 0 0.04375rem 0.04375rem !important;
  }
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    height: 1.6625rem !important;
    width: 2.21667rem !important;
    border-width: 0.04375rem 0.04375rem 0.04375rem 0 !important;
    border-radius: 0 5px 5px 0 !important;
  }
}

@media (min-width: 980px) {
  form#search-block-form {
    height: 2.125rem !important;
    width: 22rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"],
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1.0625rem;
    line-height: 2.01875rem !important;
  }
  form#search-block-form input.custom-search-box[type="text"] {
    height: 2.01875rem !important;
    width: 19.41458rem !important;
    padding-left: 0.53125rem !important;
    border-radius: 5px 0 0 5px !important;
    border-width: 0.05313rem 0 0.05313rem 0.05313rem !important;
  }
  form#search-block-form input[type="submit"].form-submit,
  form#search-block-form input[type="button"].form-submit {
    height: 2.01875rem !important;
    width: 2.69167rem !important;
    border-width: 0.05313rem 0.05313rem 0.05313rem 0 !important;
    border-radius: 0 5px 5px 0 !important;
  }
}

form#search-block-form input.custom-search-box[type="text"],
form#search-block-form input[type="submit"].form-submit,
form#search-block-form input[type="button"].form-submit {
  display: block !important;
  float: none !important;
  margin: 0 !important;
  box-shadow: none !important;
  border-style: solid !important;
  border-color: #d0c3ac !important;
}

form#search-block-form input.custom-search-box[type="text"] {
  position: absolute !important;
  top: 0;
  left: 0;
}

form#search-block-form input[type="submit"].form-submit,
form#search-block-form input[type="button"].form-submit {
  position: absolute !important;
  top: 0;
  right: 0;
}

form#search-block-form input[type="submit"].form-submit,
form#search-block-form input[type="button"].form-submit {
  background-color: white;
  background-image: url(../images/magnifier.png) !important;
  background-position: top right !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  text-indent: -9999999px !important;
}

form#search-block-form input[type="submit"].form-submit:hover,
form#search-block-form input[type="button"].form-submit:hover {
  background-image: url(../images/magnifier-hover.png) !important;
}

div.ctct-inline-form * {
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

div.ctct-inline-form div.ctct-form-embed .ctct-form-text {
  font-size: 14px !important;
  color: black !important;
}

div.ctct-inline-form div.ctct-form-embed form.ctct-form-custom label.ctct-form-label {
  font-size: 14px;
  padding-bottom: 0;
  margin-bottom: .5rem;
}

div.ctct-inline-form div.ctct-form-embed form.ctct-form-custom input.ctct-form-element {
  padding: 0 7px;
  line-height: 1;
  font-size: 14px;
  height: 30px;
}

div.ctct-inline-form div.ctct-form-embed form.ctct-form-custom legend,
div.ctct-inline-form div.ctct-form-embed form.ctct-form-custom label {
  font-size: 14px !important;
  color: black !important;
}

div.ctct-inline-form div.ctct-form-embed div.ctct-form-defaults {
  padding: 0;
  margin: 0;
}

div.ctct-inline-form div.ctct-form-embed div.ctct-form-defaults h2.ctct-form-header {
  padding: .5em 0 0 0;
  margin: 0 0 1em 0;
  font-size: 1em;
  font-weight: bold;
  border-top: 1px solid #a12854;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #264a64;
}

div.ctct-inline-form div.ctct-form-embed div.ctct-form-defaults .ctct-form-required {
  display: inline-block;
}

div.ctct-inline-form div.ctct-form-embed div.ctct-form-defaults .ctct-form-required:before {
  content: "";
}

div.ctct-inline-form div.ctct-form-embed div.ctct-form-defaults .ctct-form-required:after {
  content: "\2217";
  position: absolute;
  top: -6px;
  right: -10px;
  color: #f5463b;
}
/* ----------------------- Classes Added by MFriend ---------------------- */
form#search-block-form input[type="submit"].form-submit {
  border:0px;
}

.views-field-field-homepage-hero-image img,
.block-views-cards-new-block img{
  width:100%;
  height:100%;
}
.block-views-cards-new-block .container-12 .grid-6 {
  position:relative;
}
.sf-menu.sf-style-white li,
.sf-menu.sf-style-white li li,
.sf-menu-sf-style-white li li li {
  background: #336a90 !important;
  color:#ffffff;
  font-size:0.95rem;
  font-weight:bold;
  text-transform:uppercase;
  height:auto;
  z-index:99999999999999 !important;
}
.sf-menu.sf-style-white li li {
  position:relative;
  top:8px;
}
.sf-menu.sf-style-white li li li {
  position:relative;
  top:0px;
}
.sf-menu.sf-style-white a {
  color:#ffffff;
  border:0px;
  text-decoration:none;
}
.sf-menu.sf-style-white a:hover {
  background:#154360;
  position:relative;
  top:0px;
}
div.sf-accordion-toggle.sf-style-white a {
  background:#336a90;
  color:#ffffff;
  position:relative;
  top:16px;
}
.sf-accordion-toggle {
  margin-bottom:30px;
}
div.sf-accordion-toggle.sf-style-white a.sf-expanded {  
  background:#154360;
  color:#ffffff;
  text-decoration:none;
}
.sf-menu.sf-style-white.sf-accordion li.sf-expanded > a {
  background:#154360;
}
#block-search-form {
  width:225px;
  position:relative;
  top:-52px;
  z-index:9999999;
  left: 650px;
}
form#search-block-form input.custom-search-box[type="text"] {
  width:85% !important;
}
form#search-block-form {
  width:0rem!important;
}
#zone-branding {
  text-align:center;
}
#zone-slideshow.container-24 {
  width:100% !important;
  height:auto !important;
}
#region-slideshow.grid-24 {
  width:100%; !important;
  height:auto !important;
  margin-left:0px;
  margin-right:0px;
}
#region-slideshow {
  position:relative;
  top:-3px;
}
.thcap {
  padding:15px 0px;
  background:#113D5F;
  color:#ffffff;
  margin-bottom:20px;
  text-align:center;
}
div#zone-menu-wrapper {
  height:2.88rem !important;
}
.views-field-field-overlay-text {
  color:#ffffff;
  font-size:40px;
  position:absolute;
  top:25%;
  left:60%;
  width:25%;
  background:transparent;
}
.herotxtbx a .ext {
  display:none;
}

.herotxtbx a {
  text-decoration:none !important;
  color:#ffffff;
  border:1px solid #ffffff;
  font-size:25px;
  padding:5px;
  position:relative;
  top:10px;
}
.container-12 .grid-4 {
  width:290px !important;
/*  text-align:center !important;*/
}
.zone-content-wrapper {
  background:#ffffff !important;
}
.block-views-rhy-partners-block {
  background:#F8F9F9;
  padding-top:20px;
  padding-bottom:45px;
  position:relative;
  top:55px;
}
.block-views-calendar-block {
  padding-top:20px;
  padding-bottom:20px;
  padding-left:20px;
}
.block-views-calendar-block .views-field-nothing {
  margin-bottom:20px;
}
.block-views-calendar-block .date-display-start,
.block-views-calendar-block .date-display-end,
.block-views-calendar-block .date-display-single {
  font-weight:bold;
}
.block-views-news-articles-block-2 {
  background:#EAE5DF;
  padding-top:20px;
  padding-bottom:40px;
  position:relative;
  top:-50px;
}
.block-views-news-articles-block-2 .views-field-title {
  text-align:center;
  margin-top:10px;
  text-align:center;
}
.block-views-rhy-partners-block .view-header h1,
.block-views-news-articles-block-2 .view-header h1,
.block-views-calendar-block .view-header h1 {
  margin-bottom:0px;
}
.block-views-rhy-partners-block .view-header,
.block-views-news-articles-block-2 .view-header,
.block-views-calendar-block .view-header {
  border-bottom:2px solid #A02754;
  width:95%;
  margin-left:20px;
}
.block-views-news-articles-block-2 .view-header {
  margin-left:15px;
}
.block-views-rhy-partners-block .view-content,
.block-views-news-articles-block-2 .view-content,
.block-views-calendar-block .view-content {
  margin-top:20px;
}
.block-views-rhy-partners-block .view-footer a,
.block-views-news-articles-block-2 .view-footer a {
  position:relative;
  left:42%;
  border:1px solid #000000;
  border-radius:5px;
  top:20px;
  padding:5px;
}
#block-views-news-articles-block-2--2 {
  display:none;
}

header#section-header div#zone-branding-wrapper div#zone-branding div#region-social-media {
  top:0px !important;
}
.block-menu-social-media ul.menu li {
  flex: 0!important;
}
.block-menu-social-media ul.menu {
  width:24% !important;
  position:relative;
  top:195px;
/*  left:75%; */
  z-index:999999999999;
}
#block-block-95 {
  background:#000000;
  padding:5px;
  margin:30px 0px;
}
.thsect a {
  color:#ffffff !important;
  text-transform: uppercase;
  font-weight:bold;
  text-decoration: none !important;
}
.thsect a:hover {
  color:#d2d2d2 !important;
}
#block-system-main {
  width:100%;
}

#zone-menu.container-12 {
  width:960px !important;
}

#block-views-news-articles-block-2 .views-field-field-hero-image img {
  width:100% !important;
}
#faqlinks a {
  line-height:25px;
}
#block-views-cards-new-block-1 img {
  width:100%;
  height:auto;
}

/* media queries below this line */

@media (min-width:320px) and (max-width:600px) {
form#search-block-form input.custom-search-box[type="text"] {
  height:2.05rem !important;
  font-size:0.875rem;
  left: -20px;
}
form#search-block-form input[type="submit"].form-submit {
  left:55% !important;
  height:2.05rem !important;
  width:27% !important;
}
.block-menu-social-media ul.menu {  
  top:110px !important;
  left:60%;
  }
}

@media (max-width:739px) {
#block-views-news-articles-block-2 .views-field-field-hero-image,
#block-views-news-articles-block-2 .views-field-title {
  text-align:center !important;
  width:100%;
 }
#block-views-news-articles-block-2 .grid-4 {
  padding-bottom:20px;
  width:50% !important;
  text-align:center !important;
  margin:0px auto !important;
 }
.container-12 .grid-2 {
  width:100% !important;
  text-align:center;
  }  
.block-views-cards-new-block .grid-6 {
  position:relative;
  width:80% !important;
  text-align:center;
  margin:auto;
  }  
}
@media (min-width:740px ) and (max-width:979px) {
.container-12 .grid-4 {
  width:29% !important;
 }
.container-12 .grid-2 {
  width:30% !important;
  }
}

@media (min-width:981px) and (max-width:1307px) {
.views-field-field-overlay-text {
  font-size:30px;
  }
.herotxtbx a {
  font-size:15px;
  }
}
@media (min-width:0px) and (max-width:375px) {
.views-field-field-overlay-text {
  font-size:8px;
  }
.herotxtbx a {
  font-size:8px;
  }
}
@media (min-width:376px) and (max-width:571px) {
.views-field-field-overlay-text {
  font-size:10px;
  }
.herotxtbx a {
  font-size:10px;
  }
}
@media (min-width:572px) and (max-width:731px) {
.views-field-field-overlay-text {
  font-size:15px;
  }
.herotxtbx a {
  font-size:10px;
  }
}
@media (min-width:732px) and (max-width:980px) {
.views-field-field-overlay-text {
  font-size:20px;
  }
.herotxtbx a { 
  font-size:15px;
  }  
}
@media (min-width:800px) and (max-width:979px) {
header#section-header div#zone-branding-wrapper div#zone-branding div#region-social-media {
  right:0px !important;
  left:90%;
  } 
}
@media (min-width:320px) and (max-width:600px) {
header#section-header div#zone-branding-wrapper div#zone-branding div#region-social-media {
  top:-75px !important;
  position:relative;
  left:28%;
  }
}
@media (min-width:601px) and (max-width:799px) {
header#section-header div#zone-branding-wrapper div#zone-branding div#region-social-media {
  position:relative !important;
  top:-155px !important;
  left:90% !important;
  }
}
@media (min-width:720px) and (max-width:999px) {
#block-search-form {
  width:60%;
  left:20%;
  position:absolute;
  top:7px;
 }
form#search-block-form input[type="submit"].form-submit {
  left:79%;
  height:2.20rem !important;
}
form#search-block-form input.custom-search-box[type="text"] {
  height:2.20rem !important;
  font-size:0.875rem;
  }
}
@media (max-width:719px) {
#block-search-form {
  width:60%;
  left:20%;
  position:absolute;
  top:7px;
}
form#search-block-form input.custom-search-box[type="text"] {
  height:2.05rem !important;
  font-size:0.875rem;
}
form#search-block-form input[type="submit"].form-submit {
  left:79%;
  height:2.05rem !important;
  width:10%;
 }
}
/*# sourceMappingURL=styles.css.map */

/* ### Begin Homepage Hero Image Styling ### */
#block-views-home-page-hero-image-block {
    width: 1280px;
    margin-bottom: 25px;
}
#block-views-home-page-hero-image-block .content .view-id-home_page_hero_image .view-content .views-row .views-field-field-homepage-hero-image div.field-content {
    border-bottom: 24px solid #41627d;    
}
#block-views-home-page-hero-image-block .content .view-id-home_page_hero_image .view-content .views-row .views-field-field-overlay-text div.field-content {
    color: white;
    font-size: 2em;
    font-family: Archivo, Verdana-Bold, sans-serif;
	font-weight: bold;
    position: absolute;
    top: 25px;
    right: 25px;
    height: 6em;
}
#block-views-home-page-hero-image-block .content .view-id-home_page_hero_image .view-content .views-row .views-field-field-overlay-link div.field-content a {
    padding: 5px;
    border:1px solid white;
    color: white;
    position: absolute;
    top: 225px;
    right: 225px;
}
/* ### End Homepage Hero Image Styling ### */
/* ### Begin Card Feature on Home Page Styling ### */
.view-id-home_page_card_view .view-content {
    /* main section */
}
/* ## Centers the table of cards ## */
.view-id-home_page_card_view .view-content table{
    margin-left:auto;
    margin-right: auto;
}
/* # Puts padding around the cards # */
.view-id-home_page_card_view .view-content .col-first {
    padding-right: 25px;
    padding-bottom: 25px;
}
.views-field-field-card-url a {
    color: #ffffff;
    background: #19374f;
    display:block;
    text-align: center;
    padding: 5px;
}
/* ### End Home Page Card Feature Styling ### */
/* ### Begin Latest News Homepage Styling ### */
#block-views-home-page-latest-news-block {
    background-color: #e0dbd0;
    padding: 10px;
}
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-content table.views-view-grid {
    width: 100%;
}
#block-views-home-page-latest-news-block .block-inner h2.block-title {
    font-family: Archivo, Verdana-Bold, sans-serif;
	font-weight: bold;
	color: #3E6A8D;
    font-size: 1.5em;
    padding-bottom: 2px;
    border-bottom: 2px solid #94405d;
}
/* ## First News Article ## */
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-content table.views-view-grid td.col-1 {
    width: 33%;
    text-align: center;
}
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-content table.views-view-grid td.col-1 div.views-field-field-hero-image img.field-content {
    display: block;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-content table.views-view-grid td.col-1 div.views-field-title span.field-content {
    text-align: center;
}
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-content table.views-view-grid td.col-1 div.views-field-title span.field-content a {
    margin-top: 5px;
    display: inline-block;
    width: 12em;
    line-height: 1.25em;
    max-width: 100%;
    font-family: Roboto, Helvetica, sans-serif;
}
/* ## Second News Article ## */
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-content table.views-view-grid td.col-2 {
    width: 33%;
    text-align: center;
}
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-content table.views-view-grid td.col-2 div.views-field-field-hero-image img.field-content {
    display: block;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-content table.views-view-grid td.col-2 div.views-field-title span.field-content {
    text-align: center;
}
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-content table.views-view-grid td.col-2 div.views-field-title span.field-content a {
    margin-top: 5px;
    display: inline-block;
    line-height: 1.25em;
    max-width: 12em;
    font-family: Roboto, Helvetica, sans-serif;
}
/* ## Last News Article ## */
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-content table.views-view-grid td.col-3 {
    width: 33%;
    text-align: center;
}
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-content table.views-view-grid td.col-3 div.views-field-field-hero-image img.field-content {
    display: block;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-content table.views-view-grid td.col-3 div.views-field-title span.field-content {
    text-align: center;
}
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-content table.views-view-grid td.col-3 div.views-field-title span.field-content a {
    margin-top: 5px;
    display: inline-block;
    line-height: 1.25em;
    max-width: 12em;
    font-family: Roboto, Helvetica, sans-serif;
}
/* ## Read More Link ## */
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-footer {
    text-align: center;
    margin-top: 25px;
}
#block-views-home-page-latest-news-block .block-inner .content .view-id-home_page_latest_news .view-footer p a{
    border: 1px solid #3E6A8D;
    padding: 10px;
    font-family: Roboto, Helvetica, sans-serif;
}
/* ### End Latest Posts Styling ### */
/* ### Begin Twitter Styling ### */
/* ### End Twitter Styling ### */
/* ### Begin Calendar Homepage Styling ### */
/* ## Sets the width of the Calendar View on the home page ## */
#block-views-calendar-block {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
/* # Centers content inside of the block and gives us padding at the bottom. # */
#block-views-calendar-block .block-inner .content {
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
}
/* ## Calendar H2 styling ## */
#block-views-calendar-block .block-inner .content .view-id-calendar .view-header h2 {
    font-family: Archivo, Verdana-Bold, sans-serif;
	font-weight: bold;
	color: #3E6A8D;
    font-size: 1.5em;
    padding-bottom: 2px;
    border-bottom: 2px solid #94405d;
}
/* ## Calendar paragraph styling ## */
#block-views-calendar-block .block-inner .content .view-id-calendar .view-content .views-row {
    font-family: Roboto, Helvetica, sans-serif;
    color:#000000;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
}
#block-views-calendar-block .block-inner .content .view-id-calendar .view-content .views-row .date-display-single span{
    font-weight: bold;
}
/* ### End Homepage Calendar Styling ### */
/* ### Begin Footer Styling ### */
#zone-footer {
    background-color: #d9e8eb;
    padding: 5px 10px;
}