view-build-a-youth-program/* This file will hold styles for the mobile version of your website (mobile first). */

/* ================================================================================= 
   Base
================================================================================= */

body {
	font-size: 16px;
}

.page {
	overflow-x: hidden !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
    button span {
        margin-top: -1px;
    }
}

.section-header,
.section-content {
	background: #FFF;
}

.section-content {
	padding-bottom: 5em;
	height: auto;
}

body,
.section-footer {
	background: #BCD9ED;
}

.zone-branding-wrapper,
.zone-menu-wrapper,
.zone-content-wrapper,
.zone-footer-wrapper,
.zone-branding,
.zone-menu,
.zone-content,
.zone-footer {
	clear: both;
	margin-right: 0;
	margin-left: 0;
	max-width: 100%;
}

/* ================================================================================= 
   Branding
================================================================================= */

.zone-branding .region-branding {
	max-width: 100%;
}

.logo-ncfy {
	float: left;
	padding: 13px 0 37px 0;
	max-width: 100%;
	height: 100px;
}

.logo-ncfy .content {
	padding: 3%;
}

.region-search-bar {
	padding: 20px 0 0 0;
	text-align: right;
}

/* ================================================================================= 
  Typography
================================================================================= */

body {
	color: #000;
	font-size: 16px;
    font-family: 'Arial', Helvetica, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;	
	font-smoothing: subpixel-antialiased;
}

.section-header,
.section-footer {
	font-size: 12px;
}

.section-content {
	font-size: 14px;
	font-size: 0.875em;
}

h1, h2, h3, h4 {
	float: left;
	width: 100%;
	font-family: 'Arial';
}

h1,
h1.views-title,
h1.page-title {
	margin: 0 0 30px 0;
	line-height: 130%;
}

h1 {
	color: rgb(51,106,144);
	color: #336A90;
	font-weight: bold;
	font-size: 26px;
	font-size: 1.625em;
}

h1.views-title,
h1.views-title a,
.page-search h1,
.page-library h1.title,
.node-start-a-youth-program-stage h1 {
	color: #000;
	font-weight: bold;
	font-size: 28px;
	font-size: 1.750em;
}

.featured-hero h1,
.featured-hero h1 a {
	margin: 0 0 0 0;
	color: #2D261A;
	font-weight: bold;
	font-size: 18px;
	font-size: 1.125em;
	line-height: 140%;
}

h1.views-title a,
.featured-hero h1 a {
	text-decoration: none;
}

.featured-media h1 {
	color: #000;
	font-weight: normal;
	font-size: 28px;
	font-size: 1.750em;
	font-family: 'Arial';
	line-height: 120%;
}

.node-type-exchange-issue h1.title,
.node-type-ncfy-reports h1.title,
.page-features h2.title {
	color: #383730;
    line-height: 120%;
}

.node-type-exchange-issue h1.title,
.node-type-ncfy-reports h1.title,
.page-features h2.title {
	font-size: 35px;
	font-size: 2.188em;
}

.node-start-a-youth-program-video h1,
.view-mode-next_video h2,
.node-start-a-youth-program-stage h2.video-title,
.node-start-a-youth-program-stage h2 span.syp-counter,
.node-start-a-youth-program-video .featured-syp-label,
.view-mode-next_video .next-syp-label {
	color: #336A90;
}

.node-start-a-youth-program-video h1,
.node-start-a-youth-program-video .featured-syp-label {
	font-size: 1.5em;
	line-height: 140%;
}

.page-search .block-system h2,
.page-search .form-item-keys label {
	text-transform: capitalize;
}

.node-start-a-youth-program-stage h2.video-title,
.node-start-a-youth-program-stage h2 span.syp-counter,
.view-mode-next_video h2,
.view-mode-next_video .next-syp-label {
	font-size: 1.125em;
	line-height: 150%;
}

.node-start-a-youth-program-video h1,
.view-mode-next_video h2 {
	margin-bottom: 1em;
}

.node-start-a-youth-program-video .featured-syp-label {
	padding-top: 1em;
	border-top: 1px solid #cfc3af
}

.node-start-a-youth-program-stage h2 span.syp-counter,
.node-start-a-youth-program-video .featured-syp-label,
.view-mode-next_video .next-syp-label {
	font-style: italic;
	font-weight: normal !important;
}

.featured-aside h2,
.featured-aside h2 a {
	margin: 0 0 5px 0;
	color: #000;
	font-weight: bold;
	font-size: 14px;
	line-height: 130%;
}

h2,
.subfeature h2,
.page-node h2.title,
.home-latest-post h2,
.home-aside h2,
.subpage-aside h2,
.subfeature-media h2,
.subfeature-media-aside h2,
.context-start-a-youth-program h2.label-above,
.page-media-center-videos .view-videos h3 {
	margin: 0 0 20px 0;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	font-size: 1em;
}

.page-node h2.title,
.home-latest-post h2,
.resources h2,
.home-aside h2,
.subpage-aside h2,
.subfeature-media h2,
.subfeature-media-aside h2,
.context-start-a-youth-program h2.label-above,
.page-media-center-videos .view-videos h3 {
	padding: 6px 0 0 0;
	border-top: 1px solid rgb(147,149,152);
	border-top: 1px solid #939598;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 120%;
}

.home-aside h2,{
	margin: 0 0 20px 0;
}

.subpage-aside h2 {
	margin: 0 0 30px 0;
}

.subpage-aside.block-sort h2,
.subpage-aside.block-facetapi h2 {
	margin: 0 0 0 0;
}

h2.syp-title {
	color: #336A90;
	font-family: "Verdana", sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	line-height: 140%;
}

.zone-footer h2.block-title,
.zone-footer p,
.zone-footer  a {
	margin: 0 0 15px 0;
	color: #264a64;
	font-weight: normal;
	font-size: 12px;
}

.search-form h2 {
	text-transform: capitalize;
}

h3,
.featured-media h2,
.home-latest-post h3 a,
.home-aside h3 a,
.view-taxonomy-term h3 a,
.subfeature-media h3 a {
	margin: 0 0 10px 0;
	color: rgb(51,106,144);
	color: #336A90;
	font-weight: normal;
	font-size: 18px;
	font-size: 1.125em;
	line-height: 130%;
}

h3 a,
.featured-media h2 a,
.featured-aside h2 a,
.home-aside h3 a,
.home-latest-post h3 a,
.views-item h3 a,
.view-news-articles h3 a,
.view-features h3 a,
.view-publications h3 a,
.view-taxonomy-term h3 a,
.view-taxonomy-term-news h3 a,
.subfeature-media h3 a,
.view-latest-media h3 a,
.view-slideshows h2 a {
	text-decoration: none;
}

.featured-aside h2 a:hover {
	color: #336A90;
}

h3 a:hover,
.featured-media h2 a:hover,
.home-latest-post h3 a:hover,
.home-aside h3 a:hover,
.view-news-articles h3 a:hover,
.view-features h3 a:hover,
.view-publications h3 a:hover,
.view-taxonomy-term h3 a:hover,
.view-taxonomy-term-news h3 a:hover,
.subfeature-media h3 a:hover,
.view-latest-media h3 a:hover,
.view-slideshows h2 a:hover {
	color: #000;
}

.home-aside h3,
.home-aside h3 a {
	font-size: 16px;
	font-size: 1em;
}

.view-taxonomy-term h3,
.view-taxonomy-term h3 a {
	font-size: 20px;
}

.subfeature-media-aside h3,
.subfeature-media-aside h3 a {
	font-size: 14px;
}

h4 {
	color: #000;
	font-size: 14px;
	font-size: 0.875em;
}

.node-type-ncfy-reports-sub-page h1.title {
	border-top: none;
}

p {
	margin: 0 0 15px;
	line-height: 150%;
}

.subpage-aside.list-news p {
	padding: 0 15px 0 15px;
}

.subpage-aside.list-news p span.link-title {
	font-size: 16px;
	font-size: 1em;
}

a {
	color: rgb(51,106,144);
	color: #336A90;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.node-start-a-youth-program-video a,
.node-start-a-youth-program-stage a,
.node-start-a-youth-program-video:hover a,
.view-start-a-youth-program .menu-item a,
.view-build-a-youth-program-landing .menu-item a,
.view-build-a-youth-program .menu-item a,
.subpage-aside.list-news p span.link-title a, 
.featured-media a,
.subfeature-media a,
.link_next a:hover,
.link_next a,
.link_return:hover,
.link_return {
	text-decoration: none;
}

.node-start-a-youth-program-video a:hover,
.node-start-a-youth-program-stage a:hover,
.view-start-a-youth-program .menu-item:hover a,
.view-start-a-youth-program .views-item:hover a,
.node-start-a-youth-program-video:hover a,
.view-build-a-youth-program-landing .menu-item a:hover,
.view-build-a-youth-program .menu-item:hover a,
.subpage-aside.list-news p span.link-title a:hover,
.featured-media a:hover,
.subfeature-media a:hover,
.link_next a:hover,
.link_return:hover {
	color: #000;
}

a.facetapi-limit-link {
	line-height: 300%;
}

.link_next,
.link_return,
.link_intro {
	font-size: 1.0625em;
}

.link_next a:after,
.link_return:after {
	content: " \003e";
}

.link_next:before {
	content: "Next Course: ";
}

.date,
.field-name-post-date {
	color: #787878;
}

.field-name-post-date {
	margin: 0 0 20px 0;
}

.featured-media p,
.featured-media .date-display-single {
	color: #2D261A;
	font-size: 15px;
}

.node-news-article .field-name-taxonomy-vocabulary-10 {
	float: left;
	width: 100%;
}

.view-you-might-also-like span.taxonomy-label a,
.views-field-taxonomy-vocabulary-10 .field-content a,
.node-news-article .field-name-taxonomy-vocabulary-10 .field-item a,
.home-latest-post span.taxonomy-label a,
.view-news-articles span.taxonomy-label a,
.subpage-aside span.taxonomy-label a {
	position: relative;
	display: block;
	float: left;
	max-width: 200px;
	background: #575148;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	line-height: 100%;
}

.node-news-article .field-name-taxonomy-vocabulary-10 {
	float: left;
	width: 100%;
}

.view-front-page .views-field-taxonomy-vocabulary-10 .field-content a {
	margin: -15px 0 0 0;
	padding: 7px 10px 6px 10px;
	height: 16px;
	font-size: 14px;
}

.view-you-might-also-like span.taxonomy-label a,
.node-news-article .field-name-taxonomy-vocabulary-10 .field-item a,
.home-latest-post span.taxonomy-label a,
.view-news-articles span.taxonomy-label a,
.subpage-aside span.taxonomy-label a {
	padding: 6px 10px 5px 10px;
	height: 12px;
	font-size: 12px !important;
	font-size: 0.750em;
}

.home-latest-post span.taxonomy-label a,
.view-news-articles span.taxonomy-label a {
	margin: -13px 0 0 0;
}

.view-you-might-also-like span.taxonomy-label a,
.subpage-aside span.taxonomy-label a {
	margin: 0 0 0 0;
}

.node-news-article .field-name-taxonomy-vocabulary-10 .field-item a {
	margin: 0 0 20px 0;
}

.subpage-aside li.leaf {
	float: left;
	width: 100%;
}

.subpage-aside.archives li a {
	color: #2d261a;
	font-size: 14px;
	line-height: 200%;
}

ol, 
ul,
.region-content ol,
.region-content ul {
	margin: 0 0 10px 0;

}

ol li,
ul li {
	list-style-position: outside;
	line-height: 150%;
}

ol li,
.region-content ol li {
	margin: 0 0 0 18px;
	list-style-type: decimal;
}

ul li,
.region-content ul li {
	margin: 0 0 0 16px;
	list-style: square;
}

ul li.leaf {
	list-style-image: none;
}

.resources ul li,
.node-start-a-youth-program-stage ul li {
	margin-bottom: 1em;
	list-style: none;
}

.intro {
	font-size: 1.5em;
	font-weight: bold;
}

.quote-large {
	color: #86827b;
	font-weight: normal;
	font-size: 28px;
	font-size: 1.750em;
	font-family: 'Arimo';
	line-height: 130%;
}

.quote-large span.bqstart,
.quote-large span.bqend {
	position: relative;
	font-size: 60px;
	font-size: 3.750em;
}

.quote-large span.bqstart {
	float: left;
	margin-right: 6px;
	min-height: 500px;
}

.quote-large span.bqend {
	bottom: -10px;
	height: 30px;
}

/* ================================================================================= 
   Tablet Main Navigation
================================================================================= */

@media only screen and (min-width: 700px) and (max-width: 949px) {
.zone-menu-wrapper {
	padding: 0 0 0 0;
	height: auto !important;
	border-bottom: 3px solid #FFF;
	background: #336a90;
}

ul.main-menu {
	position: relative;
	top: 0;
	clear: both;
	margin: 0 auto;
	padding: 0 0 2px 0;
	width: 100%;
	height: auto !important;
	vertical-align: top;
}

ul.main-menu li {
	display: inline-block;
	float: left;
	height: 38px !important;	
	zoom: 1;
	*display: inline;
}

ul.main-menu li a {
	display: block;
	float: left;
	margin: 0 5px 0 0;
	padding: 6px 4px 4px;
	min-width: 75px;
	max-width: 200px;
	height: 16px !important;
	background: none;
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 15px;
	line-height: 100%;
}

ul.main-menu li a.active,
ul.main-menu li a:hover {
	background: #254963;
	color: #FFF !important;
}

ul.main-menu li a.ncfy-home {
	background-color: #1e5479;
	background-image: url(../images/ncfy_home.png);
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	height: 28px;
	min-width: 28px !important;
	max-width: 28px !important;
	padding: 1px 1px 1px 1px;
	text-indent: -999999px; 
	position: relative;
	border-radius: 50%;
	top: 4px;
}

ul.main-menu li a.ncfy-home:hover {
	background-color: #254963;
}

}

/* ================================================================================= 
   Home - Landing Pages
================================================================================= */

/*body.not-front.page-media-center .section-content .zone-content-wrapper*/
body.not-front.page-media-center .section-content .zone-content-wrapper,
body.front .section-content .zone-content-wrapper,
body.context-start-a-youth-program .zone-second-menu-wrapper {
	background: #FFF url(../images/bg_ft-tile.png) center repeat;
}

body.not-front.page-media-center .section-content .zone-content-wrapper,
body.front .section-content .zone-content-wrapper {
	margin: 0 0 40px 0;
}

body.front .section-content .zone-content-wrapper {
	min-height: 413px;
	max-height: 413px;
}

body.not-front.page-media-center .zone-content,
body.front .section-content .zone-content,
body.context-start-a-youth-program .zone-second-menu {
	background-image: url(../images/bg_ft-glow.png);
	background-position: bottom center;
	background-repeat: no-repeat;
}

body.front .zone-content {
	margin: 0 auto 30px !important;
	padding: 35px 0 30px 0  !important;
	min-height: 350px !important;
	max-height: 350px !important;
}

.featured-hero .hero-title {
	margin-top: -330px;
	padding: 0 10px 0 0;
}

.featured-hero .hero-title .bg-title {
	display: block;
	padding: 80px 20px 120px 20px;
	width: 160px;
	height: 130px;
	background: #f5f5f5;
}

.home-latest-post .views-item {
	float: left;
	margin: 0 0 30px 0;
	min-height: 150px;
}

.views-item img,
.home-latest-post .views-item img,
.view-features .views-item img,
.view-news-articles .views-item img,
.view-taxonomy-term-news .views-item img {
	border: 1px solid #E2E2E2;
}

.subfeature {
	width: 300px;
	height: 360px;
}

.subfeature .featured-aside .views-row {
	display: block;
	float: left;
	padding: 10px 0 20px 0;
	min-height: 90px;
	max-height: 90px;
	width: 100%;
	border-top: 1px solid #cfc3af;
}

.subfeature a {
	text-decoration: none;
}

.featured-aside .title-left {
	float: left;
	padding: 0 0 0 0;
	min-height: 100px;
	width: 190px ;
}

.featured-aside .image-right {
	float: right;
	padding: 0 0 0 0;
	width: 98px;
	height: 90px;
}

.featured-aside .image-right img {
	border: 1px solid #cfc3af;
}

.home-aside .feature {
    display: block;
    margin: 0 0 30px 0;
    padding: 0 0 17px 0;
    width: 283px;
    height: auto;
	background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #eff7fe 30%, #d0e7fd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(30%,#eff7fe), color-stop(100%,#d0e7fd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#eff7fe 30%,#d0e7fd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#eff7fe 30%,#d0e7fd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#eff7fe 30%,#d0e7fd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#eff7fe 30%,#d0e7fd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0e7fd',GradientType=0 ); /* IE6-9 */
}

.home-aside .feature img {
	float: left;
	-webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, .2);
	box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, .2);
}

.home-aside.promo {
	margin: 0 0 30px 0;
	width: 100%;
	height: auto;
}

.home-aside.promo img {
	border: 1px solid #e1e1e1;
}

.home-aside.block-phplist iframe {
	margin-left: -10px;
}

.block-phplist iframe {
	display: block;
	float: left;
	overflow:  hidden;
	max-width: 100%;
	height: 180px;
}

body.page-media-center .section-content {
	padding: 34px 0 60px 0;
}

/* ================================================================================= 
   Suppage - Views Page - Node 
================================================================================= */

body.not-front.page-media-center .section-content {
		padding: 0 0 3em 0;
}

body.not-front .section-content,
body.page-media-center.page-media-center-videos .section-content,
body.page-media-center.page-media-center-podcasts .section-content,
body.page-media-center.page-media-center-slideshows .section-content {
	background: #FFF url(../images/bg_sb-top.png) top repeat-x;
}

body.not-front .section-content,
body.page-taxonomy .section-content,
body.page-media-center.page-media-center-videos .section-content,
body.page-media-center.page-media-center-podcasts .section-content,
body.page-media-center.page-media-center-slideshows .section-content {
	padding: 68px 0 3em 0;
}

body.page-media-center.page-media-center-videos .section-content .zone-content-wrapper,
body.page-media-center.page-media-center-podcasts .section-content .zone-content-wrapper,
body.page-media-center.page-media-center-slideshows .section-content .zone-content-wrapper {
	background: #FFF;
}

.view-taxonomy-term .views-item {
	display: block;
	margin: 0 0 30px 0;
	padding: 0 0 15px 0;
	min-height: 140px;
	width: 100%;
	height: auto;
	border-bottom: 1px solid rgb(147,149,152);
	border-bottom: 1px solid #939598;
}

.views-item,
.view-taxonomy-term-news .views-item,
.view-id-news_articles .views-item,
.view-id-publications .views-item,
.view-id-features .views-item,
.view-id-slideshows .views-item {
	border-bottom: 1px dotted #939598;
}

.views-item,
.view-taxonomy-term-news .views-item,
.view-id-news_articles .views-item,
.view-id-publications .views-item,
.view-id-features .views-item,
.view-id-slideshows .views-item {
	margin: 0 0 30px 0;
	padding: 0 0 15px 0;
}

.view-id-start_a_youth_program .views-item {
	margin: 0 0 2.25em 0;
	padding: 0 0 2.25em 0;
}

.view-id-slideshows .views-item {
	padding: 0 0 30px 0;
}

.views-row-last .views-item,
.view-taxonomy-term .views-row-last .views-item,
.view-taxonomy-term-news .views-row-last .views-item,
.view-id-news_articles .views-row-last .viws-item,
.view-id-publications .views-row-last .views-item,
.view-id-features .views-row-last .views-item,
.view-id-slideshows .views-row-last .views-item {
	/*border-bottom: none;*/
}

.view-publications .views-item .ft-img {
	text-align: center;
}

.subpage-aside.list-news .content {
	display:  block;
	float: left;
	margin: 0 0 44px 0;
	padding: 0 0 15px 0;
	max-width: 300px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 10%, rgba(237,226,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(255,255,255,1)), color-stop(100%,rgba(237,226,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 10%,rgba(237,226,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 10%,rgba(237,226,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 10%,rgba(237,226,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 10%,rgba(237,226,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ede2dc',GradientType=0 ); /* IE6-9 */
}

.subpage-aside.list-news p {
	padding: 0 15px 0 15px;

}

.page-news .view-news-articles .item-list ul li {
	margin: 0 0 .25em 1em;
	padding: 0;
}

.node-type-news-article .field-type-taxonomy-term-reference {
	margin: 0 0 2em 0;
}

.node-type-news-article .field-name-field-hero-image img {
	float:  left;
    margin: 0 1.5em 1.5em 0;
}

.logged-in .block-sharethis-sharethis-block--2,
.page-taxonomy h1.title,
.page-funding h1.title,
.page-online-training h1.title,
.page-publications h1.title,
.page-news h1.title,
.page-features h1.title {
	display: none;
}

/*.block-sharethis */ 
.add-this {
	float: left;
	margin: 0 0 20px 0;
	width: 100%;
	height: 40px;
}

.ymal-views-block {
	margin: 50px 0 0 0;
}

.view-you-might-also-like ul {
	float: left;
	min-height: 160px;
}

.view-you-might-also-like ul {
	margin: 0 0 20px 0;
	padding: 0 0 30px 0;
	width: 100%;
}

.view-you-might-also-like ul li {
	display: inline-block;
	float: left;
	margin: 0 15px 0 0;
	width: 195px;
	height: 100px;
}

.view-you-might-also-like ul li.views-row-last {
	margin-right: 0;
}

.view-you-might-also-like ul li img {
	border: 1px solid #E2E2E2;
}

.view-you-might-also-like .views-field-taxonomy-vocabulary-10 {
	float:left;
	margin-top: -12px;
	width: 100%;
}

.view-you-might-also-like span.field-content {
	float: left;
	margin-bottom: 5px;
	font-size: 12px;
}

.view-features .views-item,
.view-publications .views-item {
	float: left;
	margin: 0 0 30px 0;
}

.subpage-aside .view-funding-opportunities-by-category .view-content,
.subpage-aside.list-pubs-topic .view-content,
.page-search .subpage-aside .content {
   float: left;
   margin: 0 0 30px 0;
   padding: 10px 0 17px 20px;
   width: 283px;
	background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #eff7fe 30%, #d0e7fd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(30%,#eff7fe), color-stop(100%,#d0e7fd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#eff7fe 30%,#d0e7fd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#eff7fe 30%,#d0e7fd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#eff7fe 30%,#d0e7fd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#eff7fe 30%,#d0e7fd 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0e7fd',GradientType=0 ); /* IE6-9 */
}

.subpage-aside.list-pubs-topic .views-row {
	display: block;
	float: left;
	margin: 15px 0 0 0;
	line-height: 150%;
}

.subpage-aside .view-funding-opportunities-by-category .views-row,
.subpage-aside.list-pubs-topic .views-row {
	display: block;
	float: left;
	margin: 0 0 10px 0;
	width: 100%;
	line-height: 150%;
}

.node-type-publications .field-name-field-thumbnail img {
	float: left;
	margin: 0 10px 5px 0;
}

.node-type-publications .field-type-text-with-summary,
.node-type-publications .field-name-field-subdeck,
.node-type-publications .field-name-field-pdf-file,
.node-type-publications .field-name-field-shopping-cart-link {
	margin: 0 0 10px 0;
	width: 100%;
}

.node-type-publications .field-name-field-subdeck {
	font-weight: bold;
}

.topic-items .views-row {
	float: left;
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	height: auto;
	border-bottom: 1px dotted #939598;
}

.topic-items .views-row-last {
	border-bottom: none;
}

.node-funding-info .field-name-field-due-date {
	margin: 0 0 15px 0;
}


.node-publication .field-name-field-thumbnail {
	float: left;
	height: 100%;
}

.node-publication .field-name-field-thumbnail img {
	margin: 0 10px 5px 0;
}

.context-subscribe h2 {
	display: none;
}

.node-type-publication .field-name-taxonomy-vocabulary-5,
.node-type-publication .field-name-field-pdf-file,
.node-type-publication .field-name-field-shopping-cart-link {
	float: left;
	margin: 10px 0 10px;
	width: 100%;
	font-size: 12px;
	line-height: 150%;
}

.node-type-publication .list-pubs-topic,
.node-type-publication-sub-page .list-pubs-topic {
	display: none;
}

/* ================================================================================= 
   NCFY Reports - SYP
================================================================================= */

body.node-type-ncfy-reports .section-content,
body.node-type-ncfy-reports-sub-page .section-content,
body.page-build-a-youth-program .section-content,
body.page-start-a-youth-program .section-content,
body.node-type-start-a-youth-program-stage .section-content,
body.node-type-start-a-youth-program-video .section-content,
body.context-promote-your-youth-program .section-content {
	padding: 21px 0 54px 0;
}

.node-type-ncfy-reports .zone-preface-wrapper,
.node-type-ncfy-reports-sub-page .zone-preface-wrapper,
.page-build-a-youth-program .zone-preface-wrapper,
.page-start-a-youth-program .zone-preface-wrapper,
.node-type-start-a-youth-program-stage .zone-preface-wrapper,
.node-type-start-a-youth-program-video .zone-preface-wrapper,
.context-promote-your-youth-program .zone-preface-wrapper {
	margin-bottom: 10px;
	min-height: 102px;
	max-height: 102px;
}

.node-type-ncfy-reports .zone-preface-wrapper,
.node-type-ncfy-reports-sub-page .zone-preface-wrapper,
.page-build-a-youth-program .zone-preface-wrapper {
	background: #86827b;
}

.page-start-a-youth-program .zone-preface-wrapper,
.node-type-start-a-youth-program-stage .zone-preface-wrapper,
.node-type-start-a-youth-program-video .zone-preface-wrapper {
	background: #bcd9ed;
}

.context-promote-your-youth-program .zone-preface-wrapper {
	background: #76b9b1;
}

.node-type-ncfy-reports .zone-content-wrapper,
.node-type-ncfy-reports-sub-page .zone-content-wrapper,
.page-build-a-youth-program .zone-content-wrapper,
.page-start-a-youth-program .zone-content-wrapper,
.context-promote-your-youth-program .zone-content-wrapper {
	border-top: 1px solid;
}

.node-type-ncfy-reports .zone-content-wrapper,
.node-type-ncfy-reports-sub-page .zone-content-wrapper,
.page-build-a-youth-program .zone-content-wrapper,
.page-start-a-youth-program .zone-content-wrapper,
.context-promote-your-youth-program .zone-content-wrapper {
	padding-top: 3.125em;
}

.node-type-ncfy-reports .zone-content-wrapper,
.node-type-ncfy-reports-sub-page .zone-content-wrapper,
.page-build-a-youth-program .zone-content-wrapper {
	border-top-color: #939598;
}

.page-start-a-youth-program .zone-content-wrapper {
	border-top-color: #d1e5f4;
}

.context-promote-your-youth-program .zone-content-wrapper {
	border-top-color: #76b9b1;	
}

.ncfy-reports .super-banner h1,
.toolkits .super-banner h1,
.build-youth-program .super-banner h1,
.start-youth-program .super-banner h1,
.promote-youth-program .super-banner h1 {
	position: relative;
	z-index: 200;
	display: block;
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 102px;
	background-position: bottom left;
	background-repeat: no-repeat;
	text-indent: -9999999px;
}

.ncfy-reports .super-banner h1 {
	background-image: url(../images/h1_ncfy_reports.png);
}

.toolkits .super-banner h1 {
	background-image: url(../images/h1_ncfy_toolkits.png);
}

.build-youth-program .super-banner h1 {
	background-image: url(../images/h1-BuildYouth.png);
}

.start-youth-program .super-banner h1 {
	background-image: url(../images/h1_start_yp.png);
}

.promote-youth-program .super-banner h1 {
	background-image: url(../images/h1_PromoteYouth.png);
}

.node-type-ncfy-reports .field-name-taxonomy-vocabulary-5,
.node-type-ncfy-reports-sub-page .field-name-taxonomy-vocabulary-5 {
	float: left;
	margin: 0 0 25px 0;
	width: 100%;
	height: 20px;
	text-transform: uppercase;
	font-size: 14px;
}

.node-type-ncfy-reports .field-name-taxonomy-vocabulary-5 .field-items a,
.node-type-ncfy-reports-sub-page .field-name-taxonomy-vocabulary-5 .field-items a {
	color:  #86827b;
}

.node-type-ncfy-reports .field-name-field-cover-image .field-item,
.node-type-ncfy-reports .field-name-body .field-item,
.node-type-ncfy-reports-sub-page .field-name-field-cover-image .field-item,
.node-type-ncfy-reports-sub-page .field-name-body .field-item {
	display: block;
	float: left;
	width: 100%;
}

.node-type-ncfy-reports .field-name-field-cover-image .field-item,
.node-type-ncfy-reports-sub-page .field-name-field-cover-image .field-item {
	margin: 0 0 40px 0;
}

.node-type-ncfy-reports .field-name-field-hero-image img,
.node-type-ncfy-reports-sub-page .field-name-field-hero-image img {
	display: block;
	float: left;
	margin: 0 0 30px 0;
	padding: 5px;
	width: 600px;
	height: auto;
	border: 1px solid #858179;
}

.node-type-ncfy-reports .issue-date,
.node-type-ncfy-reports-sub-page .issue-date {
	display: block;
	padding: 35px 0 45px 0;
	height: 20px;
	color: #2d261a;
	text-align: right;
	font-size: 24px;
	font-family: 'Arial Narrow', sans-serif;
}

.region-sidebar-first .book-menu {
	margin-bottom: 40px;
	padding: 20px 20px 20px 0;

	border-top: 1px solid #939598;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 10%, rgba(237,226,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(255,255,255,1)), color-stop(100%,rgba(237,226,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 10%,rgba(237,226,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 10%,rgba(237,226,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 10%,rgba(237,226,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 10%,rgba(237,226,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ede2dc',GradientType=0 ); /* IE6-9 */
}

.region-sidebar-first .book-menu h2.block-title,
.region-sidebar-first .book-menu ul li {
	font-weight: normal;
	font-size: 16px;
	line-height: 140%;
}

.region-sidebar-first .book-menu ul {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.region-sidebar-first .book-menu ul li {
	list-style: none;
	list-style-position: outside;
}

.region-sidebar-first .book-menu h2.block-title {
	margin-bottom: 0;
	padding-left: 0;
}

.region-sidebar-first .book-menu h2.block-title a,
.region-sidebar-first .book-menu ul li a {
	display: block;
	float: left;
	margin-bottom: 10px;
	padding-left: 20px;
	min-height: 20px;
	max-height: 100px;
	width: 100%;
	text-decoration: none;
}

.region-sidebar-first .book-menu h2.block-title a.active,
.region-sidebar-first .book-menu h2.block-title a:hover,
.region-sidebar-first .book-menu ul li a.active,
.region-sidebar-first .book-menu ul li a:hover {
	margin-left: 0;
	padding-left: 10px;
	border-left: 10px solid #2d261a;
}

.region-sidebar-first .book-menu h2.block-title a:hover,
.region-sidebar-first .book-menu ul li a:hover {
	color: #2d261a;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.region-sidebar-first .book-menu h2.block-title a.active,
.region-sidebar-first .book-menu ul li a.active {
	color: #336A90;
}

.node-type-publication .field-name-field-thumbnail img,
.node-publications .field-name-field-thumbnail img {
	float: left;
}

.view-header,
.view-content,
.view-footer {
	float: left;
	width: 100%;
}

.view-funding .view-content {
	float: left;
	margin: 0 0 30px 0;
}

.view-funding .view-content .views-row {
	margin: 0 0 10px 0;
	line-height: 150%;
}

.subdeck-reports-quote {
	margin: 40px 0 0 0;
	width: 100%;
	height: auto;
}

.field-name-taxonomy-vocabulary-5 .field-label,
.field-name-taxonomy-vocabulary-5 .field-item {
	display: block;
	float: left;
	font-size: 12px;
	line-height: 150%;
}

/* ================================================================================= 
   Media Center
================================================================================= */

body.not-front.page-media-center .view-media-center .view-content {
	padding: 30px 0 0 0;
}

body.not-front.page-media-center .field-slideshow {
	float: left;
}

.page-media-center .featured-media {
	float: left;
	margin: 0 0 40px 0;
	min-height: 340px;
	max-height: 340px;
}

.page-media-center .views-field-field-youtube iframe {
	width: 620px !important;
	height: 349px !important;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
}

.featured-media-aside {
	padding-top: 15px;
	border-top: 1px solid #cfc3af;
}

.subfeature-media .thumb-media {
	display: block;
	float: left;
	margin-bottom: 20px;
	width: 300px;
	height: 170px;
}

.subfeature-media-aside .view-content {
	float: left;
    margin: 0 0 30px 0;
    padding: 0 15px 10px 15px;
    max-width: 270px;
	background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #eff7fe 30%, #d0e7fd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(30%,#eff7fe), color-stop(100%,#d0e7fd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#eff7fe 30%,#d0e7fd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#eff7fe 30%,#d0e7fd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#eff7fe 30%,#d0e7fd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#eff7fe 30%,#d0e7fd 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0e7fd',GradientType=0 ); /* IE6-9 */
}

.subfeature-media-aside .title-left {
	float: left;
	padding: 0 10px 0 0;
	min-height: 100px;
	width: 164px ;
}

.subfeature-media-aside .image-right {
	float: right;
	padding: 0 0 0 0;
	width: 96px;
	height: 90px;
}

.subfeature-media-aside .views-row {
	float: left;
	padding: 0 0 10px 0;
	min-height: 100px;
	width: 100%;
}

.node-type-video .field-name-field-youtube {
	float: left;
	margin: 0 0 20px 0;
	width: 100%;
	height: auto;
}

.page-media-center-videos .view-videos .views-row-last {
	margin-bottom: 30px;
}

.page-media-center-podcasts .podcast-views-item {
	display: block;
	float: left;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	border-bottom: 1px dotted #939598;
}

.page-media-center-podcasts .views-row-last .podcast-views-item {
	border-bottom: none;
}

.mediaelement-audio,
.field-name-field-podcast-file,
.content ul.links {
	float: left;
	margin: 10px 0 20px 0;
	width: 100%;
	height: 40px;
}

.group-podcast-transcript {
	float: left;
	padding: 3%;
	width: 94%;
	border: 1px solid #939598;
}

.node-type-podcast ul.inline {
	display: block;
	float: left;
	height: auto;
}

.node-type-podcast ul.inline li {
	display: inline-block;
	float: left;
	margin-left: 0;
}

.node-slideshow {
	width: 100%;
}

.node-type-slideshow .field-slideshow-wrapper {
	display: block;
	float: left;
	margin: 0 0 30px 0;
	width: 100%;
}

.node-type-slideshow .field-slideshow {
	padding-bottom: 0 !important;
}

.node-type-slideshow .field-slideshow-controls {
	display: block;
	float: left;
	width: 100%;
	height: 37px;
	position: relative;
	z-index: 100;
	margin-top: -80%;
}

.node-type-slideshow .field-slideshow-controls a.prev,
.node-type-slideshow .field-slideshow-controls a.next {
	position: absolute;
	display: inline-block;
	width: 37px;
	height: 37px;
	background-image: url(../images/ui_icons.png);
	background-repeat: no-repeat;
	text-indent: -9999999px;
	opacity: 1.0;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.node-type-slideshow .field-slideshow-controls a.prev:hover,
.node-type-slideshow .field-slideshow-controls a.next:hover {
	opacity: 0.8;
}

.node-type-slideshow .field-slideshow-controls a.prev {
	left: 1% !important;
}

.node-type-slideshow .field-slideshow-controls a.next {
	right: 1% !important;
}

.node-type-slideshow .field-slideshow-controls a.prev {
	background-position: 0 -190px;
}
.node-type-slideshow .field-slideshow-controls a.next {
	background-position: -37px -190px;
}

.node-type-slideshow .field-slideshow-caption {
	float: left;
	padding: 15px 3% 47px 3%;
	min-width: 94%;
	min-height: 70px;
	height: auto !important;
	background: #254963;
}

.node-type-slideshow span.field-slideshow-caption-text {
	color: #FFF;
	font-weight: normal !important;
	font-size: 15px;
	line-height: 130%;
}

.node-type-slideshow .field-name-body {
	float: left;
}

/* ================================================================================= 
   SYP
================================================================================= */

.context-start-a-youth-program .zone-second-menu {
	padding: 2.125em 0 1em 0;
}

.view-build-a-youth-program-landing .view-header,
.view-build-a-youth-program .view-header,
.view-start-a-youth-program .view-header {
	margin: 0 0 2em 0;
} 

.syp-navigation .menu-item {
	margin-bottom: 2em;
}

.syp-cover {
	margin-bottom: 1.25em;
	background-color: #000;
}

.syp-cover img {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.menu-item:hover .syp-cover img {
	cursor: pointer;
    opacity: .6; 
}

.start-youth-program-menu ul {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	clear: both;
}

.start-youth-program-menu ul.menu li {
	display: inline-block;
	float: left;
	margin: 0  20px 20px 0;
	padding: 0 0 0 0;
	zoom: 1; 
	*display: inline;
}

.start-youth-program-menu li.last {
	margin: 0 0 20px 0 !important;
}

.start-youth-program-menu li a {
	background-image: url(../images/ncfy-syp-menu.png);
	background-repeat: no-repeat;
	display: block;
	height: 119px;
	width: 220px;
	text-indent: -9999999px;
}

.start-youth-program-menu li a.stage-one {
	background-position: 0 -258px;
}

.start-youth-program-menu li a.stage-two {
	background-position: -240px -258px;
}

.start-youth-program-menu li a.stage-three {
	background-position: -480px -258px;
}

.start-youth-program-menu li a.stage-four {
	background-position: -720px -258px;
}

.start-youth-program-menu li a.stage-one:hover {
	background-position: 0 -129px;
}

.start-youth-program-menu li a.stage-two:hover {
	background-position: -240px -129px;
}

.start-youth-program-menu li a.stage-three:hover {
	background-position: -480px -129px;
}

.start-youth-program-menu li a.stage-four:hover {
	background-position: -720px -129px;
}

.start-youth-program-menu li.active-trail a.stage-one,
.start-youth-program-menu li a.stage-one.active {
	background-position: 0 0;
}

.start-youth-program-menu li.active-trail a.stage-two,
.start-youth-program-menu li a.stage-two.active {
	background-position: -240px 0;
}

.start-youth-program-menu li.active-trail a.stage-three,
.start-youth-program-menu li a.stage-three.active {
	background-position: -480px 0;
}

.start-youth-program-menu li.active-trail a.stage-four,
.start-youth-program-menu li a.stage-four.active {
	background-position: -720px 0;	
}

.node-start-a-youth-program-video .group-footer {
	margin-top: 3em;
}

.view-mode-next_video {
	padding: 2em 0 0 0;
	border-top: 1px solid rgb(147,149,152);
	border-top: 1px solid #939598;
}

.node-build-a-youth-program .resources,
.view-mode-stage_tools {
	margin-top: 2em;
}

li.tool-item {
	margin-left: 0 !important;
}

/* ================================================================================= 
   Search - Library
================================================================================= */

.search-results li {
	display: inline-block;
	margin: 0 0 0 0 !important;
	list-style-position: inside;
}

.search-results li,
.search-results h3,
.search-results .search-snippet-info {
	float: left;
}

.search-results h3 {
	margin: 0 0 0 0;
	width: 100%;
}

.search-results .search-snippet-info {
	margin: 0 0 15px 0;
    padding-left: 0;
}

.view-library-search .views-exposed-form {
	float: left;
	margin: 0 0 30px 0;
}

.view-library-search .views-exposed-widget label {
	position: relative;
	top: -5px;
}

.view-library-search #edit-field-library-description-value {
	width: 150px;
}

.view-library-search #edit-field-library-year-published-value-value-year {
	width: 110px;
}

.sls-table-wrapper {
	width: 100%;
	float: left;
	padding: 0;
}

.view-library-search table.views-table,
table.jbs-solr-results-table  {
	margin: 0 0 20px 0;
	width: 100%;
} 

.view-library-search table.views-table caption,
table.jbs-solr-results-table caption {
	margin: 0 0 20px 0;
	font-weight: bold;
	font-size: 16px;
}

.view-library-search thead th,
.view-library-search td,
.jbs-solr-results-table thead th,
.jbs-solr-results-table td,
.jbs-solr-results-table tbody th {
	padding: .5em;
	line-height: 150%;
}

.view-library-search thead th,
.jbs-solr-results-table thead th {
	border-right: 1px dotted #FFF;
}

.view-library-search thead th.views-field,
.jbs-solr-results-table thead th {
	text-align: center;	
}

.view-library-search thead th.views-field-field-library-document-link {
		border-right: none;
}

.view-library-search thead {
	border: 1px solid #254963;
	background: #254963;
}

.view-library-search thead,
.view-library-search thead a,
.jbs-solr-results-table thead,
.jbs-solr-results-table thead a {
	letter-spacing: 1px;
	color: #FFF;
	text-decoration: none;
}

.view-library-search tr.even, 
.view-library-search tr.odd,
.jbs-solr-results-table tr.even,
.jbs-solr-results-table tr.odd  {
	border-bottom: 1px dotted #254963;
}

.view-library-search td,
.jbs-solr-results-table td,
.jbs-solr-results-table tbody th  {
	border-right: 1px dotted #254963;
	background: #FFF;
}

.view-library-search td.views-field-field-library-year-published,
.jbs-solr-results-table tbody th  {
		border-left: 1px dotted #254963;
}

.view-library-search table.views-table caption,
.jbs-solr-results-table caption {
	margin: 0 0 20px 0;
	font-weight: bold;
	font-size: 1em;
}

.view-library-search td.views-field-field-library-year-published,
.jbs-solr-results-table tbody th {
	width: 5%;
}

.view-library-search td.views-field-title,
.jbs-solr-results-table th.tcol-2,
.jbs-solr-results-table td.tcol-2  {
	width: 45%;
}

.view-library-search td.views-field-field-library-,
.jbs-solr-results-table td.tcol-3 {
	width: 35%;
}

.view-library-search td.views-field-field-library-description,
.jbs-solr-results-table td.tcol-4 {
	width: 15%;
}

.node-type-library .field {
	float: left;
	margin: 0 0 15px 0;
	width: 100%;
}

.node-type-library .field-type-text-long {
	line-height: 150%;
}

.form-item-field-library-description-value select.form-select {
	height: auto;
}

.page-search .sls-form {
	float: left;
	width: 100%;
	margin: 0 0 3em;
}

/* ================================================================================= 
   Footer
================================================================================= */

.zone-footer {
	padding: 30px 0 60px 0;
}

.zone-footer .block-menu h2.block-title {
	padding: 0 0 0 0;
}

.copyright {
	float: left;
	margin: 0 0 10px 0;
}

.footer-menu-2 {
	display: block;
	max-width: 100%;
}

.footer-menu h2.block-title,
.footer-menu-2 h2.block-title {
	display: none;
}

.footer-menu ul.menu {
	margin: 36px 0 40px 0;
	max-height: 12px;
}

.footer-menu ul.menu,
.footer-menu-1 ul.menu,
.footer-menu-2 ul.menu {
	clear: both;
	padding: 0 0 0 0;
}

.footer-menu-2 ul {
	margin: 0 0 30px 0;
}

.footer-menu ul.menu li {
	margin: 0 0 0 0;
	padding: 0 7px 1px;
	height: 11px;
	border-right: 1px solid #264a64;
}

.footer-menu ul.menu li {
	margin: 0 0 0 0;
	padding: 1px 7px 1px;
	height: 11px;
	border-right: 1px solid #264a64;
	line-height: 100%;
}

.footer-menu ul.menu li.last {
	padding-bottom: 0;
	border-right: none;
}

.footer-menu ul.menu li.first {
	padding-left: 0;
}

/*
.footer-menu ul.menu li span.ext {
	width: 0;
	background: none;
}
*/

.footer-menu ul.menu li,
.footer-menu-1 ul.menu li,
.footer-menu-2 ul.menu li {
	display:  inline-block;
	list-style: none;
	zoom: 1;
	*display: inline;
}

.footer-menu ul li a,
.footer-menu-1 ul li a,
.footer-menu-2 ul li a {
	color: #264a64;
	line-height: 100%;
}

.footer-menu ul li {
	margin-right: 1em;
	padding-right: 1em;
}

.footer-menu ul li.last {
	margin-right: 0;
	padding-right: 0;
}

.footer-menu-1 ul.menu li a.facebook,
.footer-menu-1 ul.menu li a.twitter,
.footer-menu-1 ul.menu li a.youtube,
.footer-menu-1 ul.menu li a.rss,
.footer-menu-2 ul.menu li a.hhs,
.footer-menu-2 ul.menu li a.acf,
.footer-menu-2 ul.menu li a.fsby {
	position: relative;
	display: block;
	float: left;
	background-image: url( ../images/ui_icons.png);
	background-repeat: no-repeat;
	text-indent: -9999999px;
}

.footer-menu-1 ul.menu li a.facebook,
.footer-menu-1 ul.menu li a.twitter,
.footer-menu-1 ul.menu li a.youtube,
.footer-menu-1 ul.menu li a.rss {
	margin: 0 10px 0 0;
	width: 34px;
	height: 34px;
}

.footer-menu-1 ul.menu li a.facebook {
	background-position: 0 -31px;
}

.footer-menu-1 ul.menu li a.twitter  {
	background-position: -34px -31px;
}

.footer-menu-1 ul.menu li a.youtube {
	background-position: -68px -31px;
}

.footer-menu-1 ul.menu li a.rss {
	background-position: -102px -31px;
}

.footer-menu-2 ul.menu li a.hhs,
.footer-menu-2 ul.menu li a.acf,
.footer-menu-2 ul.menu li a.fsby {
	float:left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 72px;
}

.footer-menu-2 ul.menu li a.hhs,
.footer-menu-2 ul.menu li a.acf {
	width: 72px;
}

.footer-menu-2 ul.menu li a.fsby {
	width: 142px;
}

.footer-menu-2 ul.menu li a.hhs {
	background-position: 0 -64px;
}

.footer-menu-2 ul.menu li a.acf {
	background-position: -72px -64px;
}

.footer-menu-2 ul.menu li a.fsby {
	background-position: -144px -64px;	
}

.region-footer-second .statement {
	float: left;
	width: 100%;
	height: 100px;
}

/* ================================================================================= 
 UI Elements
================================================================================= */

.region-search-bar .main-search-form {
	position: relative;
	z-index: 200;
	display: block;
	float: right;
	margin: 0 0 20px 0;
	height: 31px;
}

.region-search-bar form.search-form input.custom-search-box[type="text"] {
    float: left !important;
    padding: 3px 11px 2px 9px !important;
    width: auto !important;
    height: 29px !important;
	border-color: #d0c3ac !important;
    border-right: none !important;
    -webkit-border-radius: 5px 0 0 5px !important; 
    -moz-border-radius: 5px 0 0 5px !important;
    border-radius: 5px 0 0 5px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    line-height: 100% !important;
}

.region-search-bar form.search-form input[type="submit"].form-submit,
.region-search-bar form.search-form input[type="button"].form-submit {
    position: relative !important;
    display: block !important;
    float: left !important;
    margin: -1px 0 0 0 !important;
    padding: 0 0 0 0 !important;
    width: 40px !important;
    height: 31px !important;
    border: none !important;
    -webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
    border-radius: 0 !important;
	background: none !important;
	background-image: url(../images/ui_icons.png) !important;
	background-position: 0 0 !important;
	background-repeat: no-repeat !important;
    text-indent: -9999999px !important;
}

.region-search-bar form.search-form input[type="submit"].form-submit:hover,
.region-search-bar form.search-form input[type="button"].form-submit:hover {
	background-position: -40px 0 !important;
}

.login-menu ul.menu {
	display: block;
	float: right;
	margin: 0 0 0 0;
	padding: 1em 0 0 0;
	height: 20px;

}

.login-menu ul.menu li {
	display: inline-block;
	clear: both !important;
	margin: 0 0 0 0;
	padding: 0px 10px 2px 8px;
	height: 15px;
	border-right: 1px solid #336A90;
	list-style: none;
	vertical-align: top;
}

.login-menu ul.menu li.last {
	border-right: none;
}

.zone-content textarea, 
.zone-content select, 
.zone-content input[type="date"],
.zone-content input[type="datetime"], 
.zone-content input[type="datetime-local"], 
.zone-content input[type="email"], 
.zone-content input[type="month"], 
.zone-content input[type="number"], 
.zone-content input[type="password"], 
.zone-content input[type="search"], 
.zone-content input[type="tel"], 
.zone-content input[type="text"], 
.zone-content input[type="time"], 
.zone-content input[type="url"], 
.zone-content input[type="week"] {
	position: relative;

	padding: 3px 3px;
	height: 2em;
	border-color: #aeb9bf #aeb9bf #aeb9bf;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}

/*.zone-content button, */
.zone-content input[type="reset"], 
.zone-content input[type="submit"], 
.zone-content input[type="button"] {
	position: relative;
	overflow: visible;
	padding: 3px 10px 3px;
	height: 27px;

	outline: 0;

	border: 1px solid;
	border-color: #aeb9bf #aeb9bf #aeb9bf;
	-webkit-border-radius: 4px !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px !important;
	-moz-border-radius: 4px;
	border-radius: 4px !important;
	border-radius: 4px;
	background: -moz-linear-gradient(top,  rgb(209,221,227) 0%, rgb(180,191,197) 50%, rgb(162,172,179) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(209,221,227)), color-stop(50%,rgb(180,191,197)), color-stop(100%,rgb(162,172,179))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(209,221,227) 0%,rgb(180,191,197) 50%,rgb(162,172,179) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(209,221,227) 0%,rgb(180,191,197) 50%,rgb(162,172,179) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(209,221,227) 0%,rgb(180,191,197) 50%,rgb(162,172,179) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(209,221,227) 0%,rgb(180,191,197) 50%,rgb(162,172,179) 100%); /* W3C */

	background-image: url(../images/bg_btn-grey.png);
	color: #FFF;
	text-transform: uppercase;
	text-shadow: 1px 1px #54575a;
    font-weight: normal;
	font-size:  16px/1.2;
	font-family: 'Arimo';
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1dde3', endColorstr='#a2acb3',GradientType=0 ); /* IE6-9 */
	cursor: pointer;

	-webkit-appearance: none;
	behavior: url(../PIE/PIE.htc);

	-webkit-appearance: none;
	behavior: url(../PIE/PIE.htc);
}

/*.zone-content button:hover, */
.zone-content input[type="reset"]:hover, 
.zone-content input[type="submit"]:hover, 
.zone-content input[type="button"]:hover {
	background: -moz-linear-gradient(top,  rgb(194,205,211) 0%, rgb(124,134,141) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(194,205,211)), color-stop(100%,rgb(124,134,141))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(194,205,211) 0%,rgb(124,134,141) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(194,205,211) 0%,rgb(124,134,141) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(194,205,211) 0%,rgb(124,134,141) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(194,205,211) 0%,rgb(124,134,141) 100%); /* W3C */
	background-image: url(../images/bg_btn-grey_hover.png);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2cdd3', endColorstr='#7c868d',GradientType=0 ); /* IE6-9 */
}

.date-year select.form-select {
	min-width: 60px;
}

.views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 1.1em;
}

.chat-block {
	padding: 0 0 30px;
}

.chat-block .bt-chat a {
	display: block;
	float: left;
	margin: 0 0 0 -7px;
	width: 130px;
	height: 54px;
}

.chat-block .bt-chat a {
 	background-image: url(../images/ui_icons.png);
    background-position: 0 -136px;
    background-repeat: no-repeat;
    text-indent: -999999px;
 }

.chat-block .op-hours {
   	float: left;
  	padding: 20px 0 0 10px;
  	width: auto;
  	height: 34px;
  	line-height: 150%;
 }

span.podcast,
span.video,
span.slideshow {
	display: block;
	float: left;
	width: 28px;
	height: 28px;
	background-image: url(../images/ui_icons.png);
	background-repeat: no-repeat;
}

.subfeature span.podcast,
.subfeature span.video,
.subfeature span.slideshow {
	position: relative;
	top: -.2em;
}

span.podcast {
	background-position: -80px 0;
}

span.video {
	background-position: -108px 0;
}

span.slideshow {
	background-position: -136px 0;
}

.menu-item span.video,
.featured-media span.video,
.subfeature-media span.podcast,
.subfeature-media span.video,
.subfeature-media span.slideshow {
	margin: -6px 0 0 -3px !important;
}

.node-type-boo .field-name-taxonomy-vocabulary-5 {
	display: block;
	float: left;
	width: 100%;
	height: 30px;
}

.book-navigation .page-links {
	float: left;
	margin: 15px 0 15px 0;
	max-width: 96%;
	border-top: 1px dotted #888;
	border-bottom: 1px dotted #888;
}

.book-navigation .page-links a {
	font-size: 11px;
	line-height: 150%;
}

.book-navigation .page-links a.page-previous {
	float: left;
}

.book-navigation .page-links a.page-next {
	float: right;
}

.book-navigation .page-links a.page-previous,
.book-navigation .page-links a.page-next {
	display: block;
	max-width: 50%;
}

ul.inline li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

ul.inline.links {
    margin-left: 0;
}

.links li.book_add_child a,
.links li.book_printer a,
.links li.flag-homepage_feature a,
.links li.flag-homepage_subfeature a,
.links li.flag-homepage_hero a,
.links li.flag-media_center_hero a,
.links li.flag-homepage_sidekick a,
.links li.flag-homepage_feature a.flag-action,
.links li.flag-homepage_subfeature a.flag-action,
.links li.flag-homepage_hero a.flag-action,
.links li.flag-media_center_hero a.flag,
.links li.flag-homepage_sidekick a.flag-action,
.links li.flag-homepage_feature a.unflag-action,
.links li.flag-homepage_subfeature a.unflag-action,
.links li.flag-homepage_hero a.unflag-action,
.links li.flag-media_center_hero a.unflag-action,
.links li.flag-homepage_sidekick a.unflag-action,
.field-name-field-shopping-cart-link a {
	display: block;
	float: left;
    margin: 0 10px 0 0;
	padding: 5px 0 0 27px;
	height: 23px;
	background-image: url(../images/ui_mini.png);
	background-repeat: no-repeat;
	text-decoration: none;
	font-size: 12px;
}

.field-name-field-shopping-cart-link a {
    margin: 0 0 0 0;
	padding: 5px 0 0 33px;
}

.links li.last a {
	margin: 0 0 0 0;
}

.links li a:hover,
.field-name-field-shopping-cart-link a:hover {
	color: #000;
}

.links li.flag-homepage_feature a,
.links li.flag-homepage_subfeature a,
.links li.flag-homepage_hero a,
.links li.flag-media_center_hero a,
.links li.flag-homepage_sidekick a {
	background-position: 0 -60px;
}

.links li.book_add_child a,
.links li.flag-homepage_feature a.flag-action,
.links li.flag-homepage_subfeature a.flag-action,
.links li.flag-homepage_hero a.flag-action,
.links li.flag-media_center_hero a.flag,
.links li.flag-homepage_sidekick a.flag-action {
	background-position: 0 0;
}

.links li.flag-homepage_feature a.unflag-action,
.links li.flag-homepage_subfeature a.unflag-action,
.links li.flag-homepage_hero  a.unflag-action,
.links li.flag-media_center_hero a.unflag-action,
.links li.flag-homepage_sidekick a.unflag-action,
.field-name-field-shopping-cart-link a {
		background-position: 0 -30px ;
}

.links li.book_printer a {
	background-position: 0 -120px ;
}

.links li.book_printer a {
	background-position: 0 -30px ;
}

.field-name-field-shopping-cart-link a {
	background-position: 0 -150px;
}


/* ================================================================================= 
  Style hacks
================================================================================= */

.form-item input.error, 
.form-item textarea.error, 
.form-item select.error {
	border: 1px solid red;
}

img[Attributes Style] {
	float: left;
}


ul.menu li {
margin: 0 0 0 0;
}

ul.primary {
	position: relative;
	z-index: 1000;
	float: left;
}

button:focus, 
button:active, 
input:focus, 
input:active, 
select:focus, 
select:active, 
textarea:focus, 
textarea:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.zone-content span.ext,
.footer-menu a.ext,
a.external {
	background: url(../images/external-site.png) no-repeat scroll right center transparent;
	padding-right: 13px;
	zoom: 1;
}

span.ext {
  padding:5px 0 5px 0;
  padding-right: 12px;
}

span.mailto {
  padding:5px 0 5px 0;
  padding-right: 12px;
}

.footer-menu span.ext {
	background: none !important;
}

img.adaptive-image {
	max-width: 100%;
}

/* ================================================================================= 
   Mediaqueries
================================================================================= */

/***********************************************************************************
   General Mobile Layout
************************************************************************************/

@media only screen and (min-width: 240px) and (max-width: 959px) {

.zone-branding .region-branding {
	max-width: 100%;
}

.region-content {
	padding-bottom: 5em;
	height: auto;
}

.region-branding,
.region-search-bar,
.region-chat-block,
.region-menu,
.region-sidebar-first,
.region-postscript-half-1,
.region-postscript-half-2,
.region-postcript-third-1,
.region-postcript-third-2,
.region-postcript-third-3,
.region-footer-first,
.region-footer-second,
.home-latest-post .views-item .ft-img,
.home-latest-post .views-item .ft-text,
.view-news-articles .views-item .ft-img,
.view-news-articles .views-item .ft-text,
.view-features .views-item .ft-img,
.view-features .views-item .ft-text,
.view-publications .views-item .ft-img,
.view-publications .views-item .ft-text,
.view-slideshows .views-item .ft-img,
.view-slideshows .views-item .ft-text {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.home-latest-post .views-item,
.view-news-articles .views-item,
.view-features .views-item,
.view-publications .views-item,
.view-slideshows .views-item,
.view-features .feature,
.submedia {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important; 
}

.field-label-inline {
	margin: 0 0 5em 0 !important;
}

.subfeature-media-aside .view-content {
	float: left;
	max-width: 94% !important;
	margin: 0 0 30px 0 !important;
	padding: 0 3% 10px 3% !important;
}

.subfeature-media-aside .title-left {
	min-width: 48% !important;;
	width: 63% !important;
	padding: 0 2% 0 0 !important;
}

.subpage-aside.list-news .content {
	max-width: 100%;
}

.podcast-views-item .grid-1,
.podcast-views-item .grid-7 {
	margin-left: 0;
    margin-right: 0;
}

.podcast-views-item .pcast-img,
.podcast-views-item .pcast-text {
    	width: 100%;
}

.view-podcasts,
.podcast-views-item {
	width: 100%;
}

table.small-table {
	margin: 0 0 20px 0;
}

table.small-table {
	border-color:#888;
	border-style: dotted;
}

table.small-table thead th,
table.small-table th,
table.small-table td {
	padding: .5em;
	line-height: 150%;
}


table.small-table thead th {
	border-right: 1px dotted #FFF;
}

table.small-table thead th {
	text-align: center;
}

table.small-tableh thead th {
	border-right: none;
}

table.small-table thead {
	border: 1px solid #254963;
	background: #254963;
}

table.small-table  thead,
table.small-table thead a {
	color: #FFF;
	text-decoration: none;
}

table.small-table tr.even, 
table.small-table tr.odd {
	border-bottom: 1px dotted #254963;
}

table.small-table td {
	border-right: 1px dotted #254963;
	background: #FFF;
}

table.small-table td {
		border-left: 1px dotted #254963;
}

table.small-table th.col-1 {
	border-left: 1px dotted #254963;
	width: 33%;
}

table.small-table td.col-2 {
	width: 33%;
}

table.small-table td.col-3 {
	width: 34%;
}

}

@media only screen and (min-width: 240px) and (max-width: 719px) {

/* Toggle Menu */

.zone-menu-wrapper {
		background: #FFF;
}

a.menu-link,
a.menu-link.active {
    position: relative;
    bottom: 0;
	display: block;
    padding: 0 0 0 0;
    width: 30px;
    height: 30px;
	border-width: 8px;
	border-style: solid;
	background-image: url(../images/ui_mini.png);
	background-repeat: no-repeat;
    text-indent: -999999px;
}

a.menu-link,
a.menu-link.active  {
	float: left;
}

a.menu-link {
	border-color: #FFF;
	background-position: 0 -240px;
}

a.menu-link:hover {
	border-color: #254963;
	background-color: #254963;
	background-position: 0 -270px;
}

a.menu-link.active {
	background-position: 0 -300px;
}

a.menu-link.active:hover {
	border-color: #254963;
	background-position: 0 -330px;
}

nav[role=navigation] {
    clear: both;
    -webkit-transition: all 0.3s ease-out;  
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.js nav[role=navigation] {
    position: relative;
    bottom: 0;
    overflow: hidden;
    max-height: 0;
}

nav[role=navigation].active {
    position: relative;
    bottom: 0;
    max-height: 40em;
	border-bottom: 3px solid #FFF;
}

nav[role=navigation] ul {
    margin: 0;
    padding: 0;
}

nav[role=navigation] li a {
    display: block;
    padding: 1.05em;
    border-bottom: 1px solid #6c90a7;
	background: #336a90;
	color: #FFF;
    text-decoration: none;
    font-size: 1.2em;
}

nav[role=navigation] li a:hover {
	background: #254963;
	color: #FFF;
}

/*End Codepen Code */
/*Reseting system style causing gray lines to show up in Toggle Menu */
nav[role=navigation] ul.inline li {
	display: block !important;
	float: left !important;
    padding: 0;
    width: 100%;
}

.region-sidebar-first,
.region-postscript-half-1,
.region-postscript-half-2,
.region-postcript-third-1,
.region-postcript-third-2,
.region-postcript-third-3,
.region-footer-first,
.region-footer-second,
.page-media-center-slideshows .ft-img,
.page-media-center-slideshows .ft-text {
	padding-right: .7em !important;
	padding-left: .7em !important;
	max-width: 100% !important;
}

.region-branding,
.region-menu {
	width: 100%;
}

.region-search-bar .main-search-form {
	position: relative;
	right: 2%;
	display: block;
	margin-bottom: -1em;
}

body.not-front .section-content, 
body.page-taxonomy .section-content, 
body.page-media-center.page-media-center-videos .section-content, 
body.page-media-center.page-media-center-podcasts .section-content, 
body.page-media-center.page-media-center-slideshows .section-content {
	padding: 2em 0 4em 0;
}

body.not-front.page-media-center .section-content .zone-content-wrapper,
body.front .section-content .zone-content-wrapper {
	margin: 0 0 40px 0;
	height: auto;
	background: #FFF url(../images/bg_ft-tile.png) repeat;
}

body.page-media-center.page-media-center-videos .section-content .zone-content-wrapper,
body.page-media-center.page-media-center-podcasts .section-content .zone-content-wrapper,
body.page-media-center.page-media-center-slideshows .section-content .zone-content-wrapper {
	background: #FFF;
}

body.front .section-content .zone-content-wrapper,
body.not-front.page-media-center .zone-content {
	min-height: 0;
	max-height: 100%;
	height: auto;
}

body.not-front.page-media-center .zone-content,
body.front .section-content .zone-content {
	background-image: none;
}

.featured-hero .hero-title {
	float: left;
	margin: 1em 0 1em -10px;
	padding: .5em .7em;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#66ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.featured-hero .hero-title .bg-title {
	padding: 0 0 0 0;
	max-width: 100% !important;
	max-height: auto !important;
	width: 100% !important;
	height: auto !important;
	background: none;
}

.region-sidebar-first {
	padding-right: 2%;
	padding-left: 2%;
}

.subfeature {
	display: block;
	float: right;
	margin-right: 0;
	margin-left: 0;
	width: 100%;
	height: auto;
}

.featured-aside .title-left {
	float: left;
	padding: 0 0 0 0;
	width: 60%;
	height: auto !important;
}

.featured-aside .image-right {
	float: right;
	padding: 0 0 0 0;
	width: 36%;
	height: auto;
	text-align: right;
}

.home-aside .feature {
	display: block;
	float: left;
	margin: 0 0 2em 0;
	padding: 0 0 2em 0;
	width: 100%;
	height: auto;
}

.home-aside .feature .ft-img,
.home-aside .feature .ft-text {
	display: inline-block;
	float: left;
	margin-bottom: 1em;
}

.home-latest-post .views-item .ft-img,
.view-features .views-item .ft-img,
.view-news-articles .views-item .ft-img  {
	padding-bottom: 1em;
	width: 100%;
}

.page-media-center .featured-media {
	float: left;
	margin: 0 0 1em 0;
	min-height: 0;
	max-height: 100%;
}

.featured-media-aside,
.featured-media .views-field-field-youtube {
	display: block;
	float: left;
	margin-right: 0 !important;
	margin-left: 0 !important;
	padding-bottom: 1em;
	width: 100%;
}

.subfeature-media .thumb-media {
	float: left;
	width: 100%;
}

.block-sharethis {
	margin-bottom: 2em;
}

.stButton .st-twitter-counter, 
.stButton .st-facebook-counter {
	margin-bottom: 1em;
}

.view-you-might-also-like ul {
	padding: 1em 0 0 0;
	min-height: 0;
}

.view-you-might-also-like ul li {
	display: block;
	float: left;
	width: 100%;
}


.context-start-a-youth-program .region-content {
	padding-top: 3em;
}

.context-start-a-youth-program h1.stage-title {
	margin-left: .5em;
}

.node-type-start-a-youth-program-video h1.stage-title {
	margin-left: 0;
	margin-top: 1em;
}

.node-type-start-a-youth-program-video .region-content {
	padding-top: 5em;
}

.node-type-start-a-youth-program-video .block-sharethis {
	float: left;
	margin-left: .5em;
	margin-top: -3em;
}

.view-mode-next_video .next-syp-label {
	padding-top: 1em;
}

.footer-menu ul.menu li {
	display: block;
	float: left;
	margin: 0 0 1em 0;
	padding: 0 0 0 0;
	width: 100%;
	border-right: none;
}

.region-footer-second .statement {
	float: left;
	margin: 1em 0 0 0;
	width: 100%;
	height: auto;
}

.footer-menu-2 {
	display: block;
	max-width: 100%;
}

.footer-menu-2 ul.menu li.leaf {
	padding: 0 0 0 0 !important;
}

/* Images */

.logo-ncfy {
 	float: left;
 }

.logo-ncfy img {
	/*padding: 1% 1% 1% 1%;*/
	width: 100%;
}

.featured-hero .views-field-field-hero-image,
.featured-hero .views-field-field-hero-image img {
 	width: 100%;
 	height: auto;
}

.view-you-might-also-like ul li img {
	display: none;
}

.node-type-ncfy-reports .field-name-field-hero-image img,
.node-type-ncfy-reports-sub-page .field-name-field-hero-image img {
	padding: 0;
	width: 100% !important;
}

.super-banner h1,
.ncfy-reports .super-banner h1,
.build-youth-program .super-banner h1,
.start-youth-program .super-banner h1,
.promote-youth-program .super-banner h1  {
	background-size: 100% auto;
}

.page-library .content img,
.page-library #content img {
	margin-bottom: 10px;
	margin-left: -5px;
	width: 100%;
	height: auto;
}

/* Videos */

.video-container {
	margin-bottom: 1.5em;
}

.page-media-center .views-field-field-youtube iframe {
	width: 100% !important;
	height: 100% !important;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
}

/* Typography */

.featured-hero h1,
.featured-hero h1 a {
	font-size: 1em;
}

.page-media-center-slideshows .ft-text h2 {
	margin-top: 1em;
}

/* UI Elements */

.region-search-bar form.search-form {
	display: block;
	float: right;
	text-align: right;
}

.region-search-bar form.search-form input.custom-search-box[type="text"] {
    width: auto !important;
}

.region-chat-block {
	display: none;
}

.chat-bottom {
 	display: block;
 	padding: .5em 0 3em 0;
	border-top : 1px solid #000;
}

.subfeature span.podcast,
.subfeature span.video,
.subfeature span.slideshow {
	top: -1em !important;
}

/* Table */

.big-table,
.six-columns {
	display: none;
}

table caption {
	margin: 0 0 1em;
}

table.six-columns,
table.three-columns {
	border-collapse: collapse;
	width: 100%;
	margin: 2em auto 2em;
}

table.six-columns th.col-1,
table.three-columns th.col-1 {
	width: 20%;
}

table.six-columns th.col-2,
table.six-columns th.col-3,
table.six-columns th.col-4,
table.six-columns th.col-5,
table.six-columns th.col-6 {
	width: 16%;
}

table.three-columns th.col-2,
table.three-columns th.col-3 {
	width: 40%;
}

table.six-columns th,
table.six-columns td,
table.three-columns th,
table.three-columns td {
	padding: 5px;
	line-height: 150%;
}

table.six-columns thead th,
table.three-columns thead th {
	color: #FFF;
	font-size: .875em;
	text-align: center;
	vertical-align: middle;
}

table.six-columns tbody th,
table.three-columns tbody th {
	text-align: left;
}

table.three-columns thead tr,
table.three-columns tbody,
table.six-columns thead tr,
table.six-columns tbody {
	border-width: 1px;
}

table.six-columns thead tr,
table.three-columns thead tr {
	border-style: solid;
	border-color: #254963;
	background: #254963;
}

table.six-columns thead th,
table.three-columns thead th {
	border-right: 1px dotted #FFF;
}

table.six-columns tbody,
table.three-columns tbody {
	border-style: dotted;
	border-color: #888;
	font-size: .750em;
}

table.six-columns tbody th,
table.six-columns tbody td,
table.three-columns tbody th,
table.three-columns tbody td {
	border-right: 1px dotted #888;
}

table.six-columns tbody tr,
table.three-columns tbody tr {
	border-bottom: 1px dotted #254963;
	vertical-align: top;
}

}

/***********************************************************************************
   Small Mobile Layout
************************************************************************************/

@media only screen and (min-width: 240px) and (max-width: 319px) {

	.zone-branding .region-branding,
	.logo-ncfy,
	.logo-ncfy a.main-logo img {
		float: left;
	    max-width: 100%;
	    height: auto;
	}

	.logo-ncfy {
	    margin: 0 0 10px -5px;
	    padding: .5em 0 0 0;
	}

	.logo-ncfy a.main-logo img {

	}

	.region-search-bar form.search-form input.custom-search-box[type="text"] {
		max-width: 150px !important;
	}

	.zone-menu-wrapper {
		background: #FFF;
	}

	.subfeature .featured-aside .views-row {
		display: block;
		float: left;
		padding: 10px 0 20px 0;
		min-height: 90px;
		max-height: 90px;
		width: 100%;
	}

	.featured-aside .title-left {
		float: left;
	    width: 96%;
	}

	.featured-aside .image-right {
		display: none;
	}

    .podcast-views-item .pcast-img,
    .podcast-views-item .pcast-text {
    	width: 100%;
    }

	.podcast-views-item .pcast-img {
		float: left;
		width: 40%;
	}

	.podcast-views-item .pcast-text {
		float: right;
		width: 60%;
	}

	.node-type-slideshow .field-slideshow-controls {
		position: relative;
		z-index: 100;
		margin-top: -125%;
	}

	.addthis_toolbox {
		margin-top: -3em;
		padding-left: .6em;
	}


/* Images */

	.home-latest-post .views-item img,
    .view-features .views-item img,
    .view-news-articles .views-item img,
    .view-taxonomy-term-news .views-item img,
    .view-slideshows .views-item img,
    .subfeature-media .thumb-media img {
    	width: 100% !important;
    	height: auto;
    }

}

@media only screen and (min-width: 240px) and (max-width: 399px) {
	table.small-table {
	    margin: 0 0 20px 0 !important;
		width: 96% !important;
	}

    .node-type-news-article .field-type-taxonomy-term-reference {
    	margin: 0 0 2em 0;
    }

    .node-type-news-article .field-name-field-hero-image img {
    	margin: 0 5em 0 0;
    	width: 100%;
    	height: auto;
    }

    .addthis_toolbox {
		margin-top: -3em;
		padding-left: .6em;
	}

}

@media only screen and (min-width: 320px) and (max-width: 469px) {
	.zone-branding .region-branding,
	.logo-ncfy,
	.logo-ncfy a.main-logo img {
		float: left;
	    max-width: 100%;
	    height: auto;
	}

	.logo-ncfy {
	    margin: 0 0 10px -5px;
	    padding: .5em 0 0 0;
	}

    .podcast-views-item .pcast-img,
    .podcast-views-item .pcast-text {
    	width: 100%;
    }

	.podcast-views-item .pcast-img {
		float: left;
		width: 30%;
	}

	.podcast-views-item .pcast-text {
		float: right;
		width: 70%;
	}
   
    .addthis_toolbox {
		margin-top: -3em;
		padding-left: .6em;
	}

}

@media only screen and (min-width: 470px) and (max-width: 529px) {
	.zone-branding .region-branding,
	.logo-ncfy,
	.logo-ncfy a.main-logo img {
		float: left;
	   max-width: 100%;
	    height: auto;
	}

	.logo-ncfy {
	    margin: 0 0 10px -5px;
	    padding: .5em 0 0 0;
	}

	.podcast-views-item .pcast-img {
		float: left;
		width: 20%;
	}

	.podcast-views-item .pcast-text {
		float: right;
		width: 80%;
	}

}

@media only screen and (min-width: 530px) and (max-width: 679px) {
	.zone-branding .region-branding,
	.logo-ncfy,
	.logo-ncfy a.main-logo img {
		float: left;
	    max-width: 100%;
	    height: auto;
	}

	.logo-ncfy {
	    margin: 0 0 10px -10px;
	    padding: .5em 0 0 0;
	}

	.podcast-views-item .pcast-img {
		float: left;
		width: 20%;
	}

	.podcast-views-item .pcast-text {
		float: right;
		width: 80%;
	}

}

@media only screen and (min-width: 680px) and (max-width: 719px) {
	.zone-branding .region-branding,
	.logo-ncfy,
	.logo-ncfy a.main-logo img {
		float: left;
	    max-width: 100%;
	    height: auto;
	}

	.logo-ncfy {
	    margin: 0 0 10px -10px;
	    padding: .5em 0 0 0;
	}

	.podcast-views-item .pcast-img {
		float: left;
		width: 20%;
	}

	.podcast-views-item .pcast-text {
		float: right;
		width: 80%;
	}
}

/***********************************************************************************
  Narrow Tablet Layout
************************************************************************************/

@media only screen and (min-width: 720px) and (max-width: 899px) {
	.zone-branding .region-branding {
		max-width: 100%;
	}

	body.not-front.page-media-center .section-content .zone-content-wrapper,
    body.front .section-content .zone-content-wrapper {
	    margin: 0 0 40px 0;
	    height: auto;
    	background: #FFF url(../images/bg_ft-tile.png) repeat;
	}

    body.page-media-center.page-media-center-videos .section-content .zone-content-wrapper,
    body.page-media-center.page-media-center-podcasts .section-content .zone-content-wrapper,
    body.page-media-center.page-media-center-slideshows .section-content .zone-content-wrapper {
    	background: #FFF;
	}

    body.front .section-content .zone-content-wrapper,
    body.not-front.page-media-center .zone-content {
    	min-height: 0 !important;
    	max-height: 100% !important;
    	height: auto  !important;
    }

    body.not-front.page-media-center .zone-content,
    body.front .section-content .zone-content {
    	background-image: none !important;
    }

    .section-footer .container-12 .grid-8,
    .section-footer .container-12 .grid-4 {
    	margin-right: 0;
    	margin-left: 0;
    	width: 50% !important;
    }

    .region.feature-left,
    .region.feature-right,
    .region-postscript-half-1,
    .region-postscript-half-2 {
    	float: left;
    	margin-right: 0;
    	margin-left: 0;
    	width: 100% !important;
    }

    .featured-hero .hero-title {
    	margin-top: -330px !important;
    	padding: 0 10px 0 0;
    }

    .hero-img .hero-title {
    	display: block;
    	float: left;
    	width: 220px !important;
    }

    .front .region-content {
    	padding-bottom: 0;
    	height: auto;
    }

    .front .region.feature-left {
    	margin-bottom: 2em;
    }

    .subfeature {
    	width: 100% !important;
    	height: auto !important;
    }

    .subfeature .featured-aside .views-row {
    	display: inline-block !important;
    	margin-right: 10px;
    	padding: 1em 0 0 0 !important;
    	min-height: 100px !important;
    	max-width: 32% !important;
    	max-height: 100% !important;
    }

    .subpage-aside .view-funding-opportunities-by-category .view-content, 
    .subpage-aside.list-pubs-topic .view-content {
    	width: 97% !important;
    }

    .subpage-aside.list-news .content {
    	max-width: 100% !important;
    }

    .subpage-aside .view-funding-opportunities-by-category .view-content, 
    .subpage-aside.list-pubs-topic .view-content,
    .subpage-aside.list-news {
    	 margin-top: 2em;
    }

    .subfeature .featured-aside .views-row.views-row-last {
    	margin-right: 0;
    }

   .featured-aside .title-left,
   .featured-aside .image-right {
   	   display: inline-block;
   	}

   .featured-aside .title-left {
	   float: left;
	   padding: 0 0 0 0;
	   max-width: 120px !important;
	}

   .featured-aside .image-right {
	   float: right;
	   padding: 0 0 0 0;
	   width: 80px;
	}

	.featured-aside .image-right img {
		width: 80px;
		height: auto;
	}

    .view-news-articles ul.pager,
    .view-features ul.pager,
    .view-publications ul.pager,
    .view-slideshows ul.pager {
		margin-bottom: 3em;
	}

    .home-latest-post .views-item .ft-img,
    .view-news-articles .views-item .ft-img,
    .view-features .views-item .ft-img,
    .view-publications .views-item .ft-img,
    .view-slideshows .views-item .ft-img {
    	padding-right: 3%;
    	width: 30% !important;
    }

    .home-latest-post .views-item .ft-text,
    .view-news-articles .views-item .ft-text,
    .view-features .views-item .ft-text,
    .view-publications .views-item .ft-text,
    .view-slideshows .views-item .ft-text {
    	width: 67% !important;
    }

    .view-features .feature .ft-img {
    	width: 20%;
    }

    .view-features .feature .ft-text {
    	width: 75%;
    }
	
	.logo-ncfy,
	.logo-ncfy a.main-logo img {
		float: left;
	    max-width: 95%;
	    height: auto;
	}

	.region-chat-block .chat-top {
		margin-left: -60px;
	}

	.zone-menu-wrapper {
        padding: 0 0 0 0;
        height: auto !important;
        border-bottom: 3px solid #FFF;
		background: #336a90;
	}

	ul.main-menu {
		overflow: hidden;
		max-width: 100%;
	}

	ul.main-menu.inline {
		height: auto !important;
	}

	ul.main-menu li a {
		float: left;
		clear: left;
	    margin: 0 10px 2px 0;
	    padding: 11px 6px 11px 6px;
		min-width: 0 !important;
		max-width: auto !important;
	    text-align: left;
	 }

	ul.main-menu li a.active,
    ul.main-menu li a:hover {
    	border-bottom: 2px solid  #254963 !important;
    }

    .footer-menu ul.menu li {
	    display: block;
	    float: left;
	    margin: 0 0 1em 0 !important;
	    padding-left: 0 !important;
	    width: 100%;
    	border-right: none !important;
	}

	.region-footer-second .statement {
		float: left;
		margin: 1em 0 0 0;
		width: 100%;
		height: auto;
	}

	.page-media-center .featured-media,
	.page-media-center .section-content .container-12 .grid-8,
	.page-media-center .section-content .container-12 .grid-4 {
		float: left !important;
		margin-right: 0;
		margin-left: 0;
		width: 100% !important;
	}

	.page-media-center .featured-media {
		float: left;
		min-height: 550px !important;
		height: auto;
	}

	.grid-8.views-field-field-youtube {
		float: left;
		height: 370px !important;
	}

	.grid-4.featured-media-aside {
		height: 100px !important;
	}

	.submedia {
		display: block;
		margin-bottom: 20px;
		width: 100% !important;
		height: auto;
	}

	.subfeature-media .thumb-media {
		float: left;
		width: 40%;
	}

	.subfeature-media .teaser {
		float: right;
		width: 55%;
	}

	.podcast-views-item .grid-1 {
		width: 15% !important;
	}

	.podcast-views-item .grid-7 {
		width: 85% !important;
	}

	.view-slideshows .views-item .grid-3,
	.view-slideshows .views-item .grid-5 {
		margin-right: 0;
		margin-left: 0;
	}

	.view-slideshows .views-item .grid-3 {
		width: 27%;
	}

	.view-slideshows .views-item .grid-5 {
		width: 70% !important;
	}

	.view-slideshows .views-item .ft-img {
		padding-right: 3%;
	}

	.field-slideshow-slide img {
		max-width: 100%;
		width: 100% !important;
		height: auto !important;
	}

}

hr { 
	height:0;
	margin:20px 0 20px 0;
	}

#wrapper div {
	width:460px;
	height:230px;
	margin-bottom:20px;
	display:inline-block;
	border:none;
	}

#top-left {
	background-image:url(/sites/default/files/Top_LEFT_460.jpg);
	}
	
.tile-text {
	position:relative;
	top:190px;
	left:20px;
	font-family: 'Open Sans',Arial,"Helvetica Neue", Helvetica,sans-serif;
	font-size:1rem;
	font-weight:bold;
	color:#336a90;
	}
	
#top-right {
	float:right;
	}
	
#bottom-left {
	background-image:url(/sites/default/files/bottom_LEFT_480.jpg);
	}
	
#bottom-right {
	float:right;
	background-image:url(/sites/default/files/bottom_RIGHT_480.jpg);
	}

//edited 5/7/2018	

