div.ctct-inline-form {

  * {
    font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  }

  div.ctct-form-embed {

    .ctct-form-text {
      font-size: 14px !important;
      color: black !important;
    }

    form.ctct-form-custom {
      label.ctct-form-label {
        font-size: 14px;
        padding-bottom: 0;
        margin-bottom: .5rem;
      }
      input.ctct-form-element {
        padding: 0 7px;
        line-height: 1;
        font-size: 14px;
        height: 30px;
      }

      legend,
      label {
        font-size: 14px !important;
        color: black !important;
      }

    }

    div.ctct-form-defaults {

      padding: 0;
      margin: 0;

      h2.ctct-form-header {
        @include sidebar-subheading;
      }

      // Required form item.
      .ctct-form-required {
        display: inline-block;
        &:before {
          content: "";
        }
        &:after {
          content: "\2217";
          position: absolute;
          top: -6px;
          right: -10px;
          color: #f5463b;
        }
      }
    }
  }
}
