.block-menu-social-media {
  background: none;
  ul.menu {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 0;
    li {
      list-style-type: none;
      flex: 1;
      width: 4vw;
      height: 4vw;
      @include breakpoint($md-up) {
        width: $social-icon--width;
        height: $social-icon--height;
      }
      padding: 0;
      margin: 0 0 0 5px;
      a {
        width: inherit;
        height: inherit;
        margin: 0;
        padding: 0;
        text-indent: -9999px;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        &.menu-link--facebook {
          background-image: url("../images/icon_fb32_264a64.png");
        }
        &.menu-link--twitter {
          background-image: url("../images/icon_Twitter23_264a64.png");
        }
      }
    }
  }
}
