$main-menu--height: 2.5rem;
$main-menu--font-size: .85rem;
$main-menu--line-height: $main-menu--font-size * 1.2;
$main-menu--padding-v: ($main-menu--height - $main-menu--line-height) / 2;

body {
  .page-node h2.title,
  .home-latest-post h2,
  .resources h2,
  .home-aside h2,
  .subpage-aside h2,
  .subfeature-media h2,
  .subfeature-media-aside h2,
  .context-start-a-youth-program h2.label-above,
  .media-series .view-videos h3 {
    @include sidebar-subheading;
  }
}

@include breakpoint(740px) {
  div#zone-menu-wrapper,
  div#zone-menu,
  div.region-menu-inner,
  div#region-menu,
  nav#menu {
    height: $main-menu--height !important;
  }
}

.zone-menu-wrapper {
  padding: 0;
  border-bottom: 3px solid #FFF;
  background-color: #336a90;
}

ul#main-menu {
  padding: 0;
  margin: 0px;
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: $main-menu--height !important;
  &.center {
    justify-content: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.space-evenly {
    justify-content: space-evenly;
  }
  li {
    padding: 0;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    height: $main-menu--height !important;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
      text-transform: uppercase;
      align-self: center;
      display: block;
      font-size: $main-menu--font-size;
      line-height: $main-menu--line-height;
      height: $main-menu--line-height;
      padding: $main-menu--padding-v 0;
      @include breakpoint(0px 739px) {
        padding-left: 0;
        padding-right: 0;
      }
      @include breakpoint(740px 979px) {
        padding-left: 8px;
        padding-right: 8px;
      }
      @include breakpoint(980px) {
        padding-left: 16px;
        padding-right: 16px;
      }
      color: white;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      float: none;
      min-width: 0;
      max-width: 1000px;
      margin: 0;
      letter-spacing: 1px;
      font-weight: bold;
      border: 0;

      &.active,
      &.active-trail,
      &:hover {
        background: none;
        background-color: #254963;
        color: #FFF !important;
      }
    }
  }
}